[2021-10-28 23:28] andreasscherbaum opened #3 "[Bug]: Link to build instructions in README is wrong"
The README says:
[code]
The link under `here` points to: https://github.com/babelfish-for-postgresql/babelfish_extensions/blob/main/contrib/README.md

This link points to a non-existent website.

[2021-10-29 01:30] ghost opened #4 "[Question]: What if for MySQL?"
### Contact Details

hufeng1987@gmail.com

### What's the question?

I have a question!  What if for MySQL protocol, let We connect postgres , using mysql protocol?

### Relevant log output or information

_No response_

### Code of Conduct

- [X] I agree to follow this project's Code of Conduct

[2021-10-29 09:15] jeanyvesauger opened #6 "[Question]: Support of partitionning"
### Contact Details

tivivi63@gmail.com

### What's the question?

Hello,
Nice project. What is the level of support regarding SQL Server partitionning functionality? Full or conditional?
Thanks,

### Relevant log output or information

_No response_

### Code of Conduct

- [X] I agree to follow this project's Code of Conduct

[2021-10-29 14:58] neuffer opened #7 "Sybase (now SAP) ASE Support"
Given how close the Microsoft SQL Server fork of the Sybase (now SAP) ASE is,
will we see support of Sybase ASE in Babelfish?

SAP has all but killed ASE, so I guess there would be a number of users eager to migrate their Sybase ASE based applications to Postgres.

[2021-10-29 15:35] 3manuek commented on #3
This has been fixed in https://github.com/babelfish-for-postgresql/babelfish_extensions/pull/8. cc/ @gopinathpai

Thanks @andreasscherbaum for the report!

[2021-10-29 19:22] gopinathpai commented on #3
@andreasscherbaum. Thank you for reporting the Issue. It has been fixed. https://github.com/babelfish-for-postgresql/babelfish_extensions/blob/BABEL_1_X_DEV/contrib/README.md

[2021-10-29 19:28] #3 closed, assigned to 3manuek, xaviersierra

[2021-10-30 13:42] spencercw opened #9 "[Question]: Single vs. multiple instances"
### Contact Details

@spencercw

### What's the question?

Hi. I'm a little confused about the `single-db` and `multi-db` migration modes. The [documentation](https://babelfishpg.org/docs/installation/single-multiple/) states:

So my expectation is that, in `single-db` mode I can create execute `create database` multiple times from a TDS connection, and that will be transparently mapped to multipl

[2021-11-01 14:05] dennisdupont opened #10 "[Enhancement]: Installation/build for RHEL family"
### Contact Details

via github

### What this feature/enhancement tries to solve?

Currently building under Centos 7 there are a number of obstacles, mostly due to package names.  This can be worked though piecemeal for the engine build, but the extensions hits a roadblock due to CMake.   The mechanism in CMake for determining whether the uuid package exists does not work.  The package in Centos

[2021-11-01 15:19] nasbyj commented on #7
Thanks for the idea @neuffer! Do you have an ASE application that you could try with Babelfish? I suspect that should "just work".

[2021-11-01 18:44] congoamz opened #12 "[Bug]: Sqlcmd fails with communication link failure"
### What Happened

- When following the instructions in contrib/README.md, at the last step, sqlcmd cannot properly connect to the Babelfish database (see console output below). This problem can be fixed by following an older version of the Postgres script than what is provided in the instructions. I will create a PR to update the docs with this older version
[code]
### Version

- BABEL_1_X_DEV

#

[2021-11-01 18:48] nasbyj commented on #10
Thanks for the report @dennisdupont. Currently, we only formally support Ubuntu, but we'd like to add support for other Linux distributions, but no one is currently working on that. Would you be interested in writing up instructions for Centos (either from scratch or as a PR to [contrib/README.md](https://github.com/babelfish-for-postgresql/babelfish_extensions/blob/BABEL_1_X_DEV/contrib/README.md

[2021-11-01 18:50] nasbyj commented on #9
Thanks for the report; we are currently investigating this.

[2021-11-01 19:08] dennisdupont commented on #10
I do think we can do that.  Our primary target platform is Oracle Linux 8.4 (moved off of Centos after their "focus" change).  My approach is now to build under Ubuntu and get a better understanding of the process and architecture, then we can follow with the attempt to try our platform.

One obstacle is that we are not very familiar with some of the tools so there may be questions on some of them

[2021-11-01 19:21] nasbyj commented on #10
For now simply replying to this issue would be best.

[2021-11-01 20:13] JimFinnerty commented on #4
Thanks for the idea, @cnmade !   It might be possible to use the same approach for MySQL as Babelfish uses for SQL Server, but the data types, hooks, and extensions needed seem like they would be very different.  The protocol hooks could probably be reused, with an implementation for the MySQL wire protocol, though.  We are not planning to provide a solution for MySQL as part of the Babelfish for

[2021-11-01 20:13] #4 closed

[2021-11-01 20:55] JimFinnerty commented on #6
As of the initial launch, T-SQL syntax for table partitioning was not yet supported by Babelfish.  PostgreSQL natively supports partition by hash, by range, or by a list of values, and it may be possible to define a partitioned table in the postgres dialect and then reference it from the TSQL dialect, but we don't support it because we haven't tried that specific scenario yet.  If you try it, and

[2021-11-01 21:01] ghost commented on #4
@JimFinnerty Thanks for let us know it. I know the AWS team has the best DB developers, who also provided us Aurora  for mysql/postgres.
Sorry to hear that you won't provide mysql .

[2021-11-02 15:13] nasbyj commented on #12
Fixed by PR #13

[2021-11-02 15:13] #12 closed

[2021-11-02 17:42] abner opened #15 "[Question]: Is it posstible to read the tables created using TSQL as Postgres tables as well?"
### What's the question?

[Question]: Is it posstible to read the tables created using TSQL in babelfish as  Postgres tables, using psql or another
Postgres clients?

### Relevant log output or information

_No response_

### Code of Conduct

- [X] I agree to follow this project's Code of Conduct

[2021-11-02 20:58] FarmGeek4Life commented on #10
RHEL8: you must install libuuid-devel, which might not be included with uuid-devel. I tried compiling after installing uuid-devel, and it would fail, after installing libuuid-devel, the antlr cmake command succeeded

[2021-11-02 21:13] nasbyj commented on #10
I think that issue exists on Ubuntu as well; we have some not so great "hack the CMake file" steps in the setup instructions right now to deal with it.

[2021-11-02 21:48] dennisdupont commented on #10
Thanks @FarmGeek4Life - The change of installing libuuid-devel instead of (or in addition to) uuid-devel got me past that issue.

I will need to move to RHEL8 though because I am on a Centos 7 box and the g++ needs v5+.  Others are using this box so upgrading g++ is not an option (if that is even possible on 7).  We are still working towards duplicating the Ubuntu though and we will move to an OL8

[2021-11-02 22:31] FarmGeek4Life commented on #10
@dennisdupont - https://stackoverflow.com/questions/36327805/how-to-install-gcc-5-3-with-yum-on-centos-7-2/37355018 has a few options there, and you can set the environment variable to control which version of GCC you use without breaking the use of the current GCC; I did that one time for something, but I built GCC from source to do it.

[2021-11-02 22:41] FarmGeek4Life commented on #10
The other changes I needed to make on RHEL 8:

RHEL 8 cmake is 3.18.2, so I used the version installed by "yum install cmake" instead:
`export cmake=/usr/bin/cmake`

With babelfishpg_tsql, I got the following error:
[code]

For now I just escaped the '{', as '\{'; the system had perl 5.26.3 installed

Now I just need to test it...

[2021-11-03 13:26] peet83 opened #17 "[Question]: Schema and data migration queries"
### Contact Details

_No response_

### What's the question?

 I do have SQL database with bunch of length stored procedures, Do I needs to rewrite them all to postgresql compatible syntax to start using the Babelfish ?

Also how do I will migrate the existing data to postgres, does Babelfish provides any tool for that?

Thank you,
Peet

### Relevant log output or information

_No response_

### C

[2021-11-03 15:20] nasbyj commented on #10
I don't think @3manuek is actively working on this; he just created an issue on the website repo to track this one.

[2021-11-03 15:31] nasbyj commented on #15
Yes, you can, but we haven't really documented how the objects map yet. I've created [Issue 85](https://github.com/babelfish-for-postgresql/babelfish_project_website/issues/85) to track that.

[2021-11-03 16:50] JimFinnerty commented on #15
hi @abner .  Yes, to a good first approximation, objects created through the TSQL dialect can be queried from the postgreSQL dialect, but there are differences between the two languages that are important to understand and account for.  TSQL applications generally use a case-insensitive, accent-sensitive database collation and tsql uses this collation to match identifiers case-insensitively (delim

[2021-11-03 17:29] abner commented on #15
Thanks for the feedback. I really don't know why the first time I created the database into the installed postgres with babelfish enabled (which I installed locally here using Docker) I couldn't see the tables created using the PGAdmin with the user.

I think after I followed the new instructions added in this commit https://github.com/babelfish-for-postgresql/babelfish_extensions/commit/210c32bfc

[2021-11-03 17:29] #15 closed

[2021-11-03 20:23] JimFinnerty commented on #6
In general you can create objects in the tsql dialect and query them in the postgres dialect, but creating objects in the postgres dialect and then accessing them and modifying them from the tsql dialect doesn't always work and is not supported in general.  In some cases like table partitioning it might provide a nice workaround, though, so the guidelines and limitations need to be documented.

[2021-11-03 22:25] nasbyj commented on #17
The [Compass tool](https://github.com/babelfish-for-postgresql/babelfish_compass) will give you a compatibility report for your existing database, including calling out any stored procedures that you'll need to modify to work with pl/tsql.

Babelfish itself doesn't provide any special tools for moving data. Data movement tools that work with SQL Server would likely work on Babelfish, provided that

[2021-11-04 12:00] abner opened #18 "[Bug]: LEN function returns different values in BabelFish"
### Contact Details

_No response_

### What happened?

First of all, thank you for opensourcing babelfish. I agree it will help a lot of projects and companies to quickly migrate to the cloud with lower costs.

I did notice a behaviour in Babelfish and I think it could be an bug:

The function LEN in Babelfish, using the same collation in both actual MSQLServer and Babelfish, returns a different

[2021-11-04 15:28] spencercw opened #19 "[Enhancement]: .NET TransactionScope"
### Contact Details

@spencercw

### What this feature/enhancement tries to solve?

In our application we make use of `TransactionScope` to have our SQL commands implicitly join the ambient transaction; however, this results in a `RESETCONSKIPTRAN is not supported` error when the transaction is disposed. Explicit transactions work ok, but would require us to update every query in the application t

[2021-11-04 15:52] spencercw opened #20 "[Bug]: Can't create foreign key constraint"
### Contact Details

@spencercw

### What happened?

[code]

When creating table `b` I get a syntax error if I include the foreign key reference:
[code]

### Version

BABEL_1_X_DEV (Default)

### Extension

babelfishpg_tsql (Default)

### What flavour of Linux are you running into the bug?

Ubuntu (Default)

### Relevant log output

_No response_

### Code of Conduct

- [X] I agree to follow this

[2021-11-04 16:12] dbit-xia opened #21 "[Question]: is support SQL execution plan"
### Contact Details

_No response_

### What's the question?

how can I view the SQL execution plan?  (set showplan_all is not available)
Or I can view the execution plan of pg

thankyou

### Relevant log output or information

_No response_

### Code of Conduct

- [X] I agree to follow this project's Code of Conduct

[2021-11-04 17:44] spencercw commented on #20
Ah I've just realised it works if I specify the column as `foreign_id int not null references a(id)`. SQL Server apparently doesn't require the referenced column to be specified.

[2021-11-05 06:17] codeex opened #22 "[Enhancement]: Support Timestamp datatype"
### Contact Details

_No response_

### What this feature/enhancement tries to solve?

This is my feature request!
Timestamp as a version management field is very useful and versatile, hope to support it (PostgresQL has column Xmin)

### If want to provide us a more details about how to implement.

_No response_

### Version

babelfishpg_tsql (Default)

### Relevant documentation

_No response_

#

[2021-11-05 13:30] JimFinnerty commented on #18
That's curious. I'm getting a different result on Amazon Linux 2 using freetds as the client:

1> select LEN('°') length, DATALENGTH('°') as bytelen, SERVERPROPERTY('collation') as collation
2> go
length bytelen collation
1 2 sql_latin1_general_cp1_ci_as
(1 row affected)
1>

Note that the length either in characters or bytes is not determined by the collation, but instead by the server encoding, w

[2021-11-05 15:05] abner commented on #18
The length is 2 (two) in your result as well.

The problem is I have a field defined as nvarchar(1) and it fails to store the char `°` in Babelfish, but works at MSSQL.

[2021-11-05 15:37] zli236 commented on #18
It works for me on Amazon Linux 2. So maybe something related to your Ubuntu settings.

[code]

[2021-11-05 18:17] lomatus opened #23 "[Bug]: Perl version related issue for make configure"
### Contact Details

_No response_

### What happened?

Error to make when PERL version is 5.22+

### Version

BABEL_1_X_DEV (Default)

### Extension

babelfishpg_tsql (Default)

### What flavour of Linux are you running into the bug?

Ubuntu (Default)

### Relevant log output

[code]

### Code of Conduct

- [x] I agree to follow this project's Code of Conduct

[2021-11-05 18:24] lomatus commented on #23
If perl is 5.20+, fix at line 147:
`
elsif ($arr[$fieldIndexer] =~ /^<.*>\{$/) # special handling for lex grammar "<...>{" not to add #line directive
`

[2021-11-05 18:35] JimFinnerty opened #24 "[Bug]: AS clause is non-optional in some cases"
### Contact Details

jfinnert@amazon.com

### What happened?

The AS clause is non-optional in some cases, and the error message text is sometimes incorrect

Note: the errors below were not observed on Aurora PostgreSQL with Babelfish enabled.

On AL2 using the freetds client:

1> select LEN('°') length, DATALENGTH('°') bytelen, SERVERPROPERTY('collation') coll;
2> go
Msg 33557097 (severity 16, st

[2021-11-05 20:25] abner commented on #18
I compiled postgres using Debian bullseye using Docker.

Do you a have script or Dockerfile you would share with me so I can  test it here using amazonlinux?

Thanks in advance.

[2021-11-05 20:35] zli236 commented on #18
I don't have one right now. Let me check with my colleagues on Monday.

[2021-11-06 02:23] abner commented on #18
It was my bad. In the dockerfile I forgot to install the utf-8 locale, so the postgres server was running with ASCII encode by default.

[2021-11-06 02:23] #18 closed

[2021-11-06 02:44] dbit-xia commented on #24
It seems to be related to this special symbol, and it will also cause the result to be incorrect

coll result is empty!!

[2021-11-06 03:00] dbit-xia commented on #24
When non-English symbols appear, the result will be wrong, as follows an additional **AS**

a              b
好AS 	Chinese_PRC_CI_AS

[2021-11-06 03:07] dbit-xia opened #25 "[Bug]: When non-English symbols appear, the result will be wrong"
### Contact Details

_No response_

### What happened?
**use Chinese_PRC_CI_AS**

When non-English symbols appear, the result will be wrong, as follows an additional **AS**
1> select '好' a,SERVERPROPERTY('collation') coll
2> go
a b
好AS Chinese_PRC_CI_AS

1> select a='好' ,SERVERPROPERTY('collation') coll
2> go
**Not responding!!**

### Version

BABEL_1_X_DEV (Default)

### Extension

babelfishpg_ts

[2021-11-06 14:25] yairlenga opened #26 "[Enhancement]: Using Babelfish for Sybase ASE migration"
### Contact Details

_No response_

### What this feature/enhancement tries to solve?

Greetings,

I have a large Sybase ASE C/C++ app which I would like to migrate to Postgresql. The application is using the sybase CT library (nothing complex: simple SQL, few bulk copies, etc.). Application is build and run on Linux using SYBSAE OCS-16.

I just became aware of this amazing extension, when Amazon

[2021-11-06 18:49] yairlenga commented on #7
Hi. I've posted #26 - basically same question - but narrow scope. I will appreciate any feedback you can contribute. Will be happy to share what I've already found.

[2021-11-07 17:07] yairlenga opened #27 "[Question]: Executing ad-hoc T-SQL statements from the PostgreSQL sql connection."
### Contact Details

yair.lenga@gmail.com

### What's the question?

Greetings,

I working on porting Sybase/ASE lib-ct application to Postgresql - trying to use Babelfish to speed up porting.

Is there a way to trigger execution of T-SQL sql statements from the PGSQL port.I'm not sure how babelfish was implemented, but I'm looking for something like

[code]

Or Using temporary stored proc, assumi

[2021-11-07 17:10] yairlenga opened #28 "[Question]: Does Babelfish support MERGE"
### Contact Details

_No response_

### What's the question?

Does BabelFish support the ANSI (or MS-SQL) merge statements ? This is a feature missing from the core postgresql engine ?

If there is a solution that allow merge to work (via translation to upserts, etc) - it will be a great idea to contribute it to the core Postgresql engine.

Need "MERGE" support to move a complex Sybase ASE/CT code

[2021-11-08 07:40] #25 closed

[2021-11-08 07:40] dbit-xia commented on #25
Duplicate of #24

[2021-11-08 07:57] dbit-xia commented on #24
I found code position: contrib/babelfishpg_tsql/src/tsqlIface.cpp

this line has problem, delete it , it is work,
and space alias can not be translated.

[2021-11-08 14:08] kuntalghosh commented on #19
We've mapped RESETCONNECTION to PG's DISCARD ALL feature - https://www.postgresql.org/docs/devel/sql-discard.html. But, with RESETCONNECTIONSKIPTRAN, one can reset the connection but do not modify the transaction state. Since PG doesn't have such implementation, we've not implemented the same yet. But, it'll be a good enhancement.

[2021-11-08 21:29] robverschoor commented on #9
Single-db means that there can only be a single migrated SQL Server user database at a time. If you need more than one user database, use multi-db. The advantage of single-db is that the schema names in the original SQL Server remain unchanged in the PG database that the TDS connection is connection to (there can be only one such Babelfish PG database in a PG cluster at a time. WIth multiple user

[2021-11-09 08:57] weiya1990 opened #30 "May I ask what is wrong in the picture? There is no error in compiling the installation, but there is an error in installing extension. The Linux version is Centos7.9."
### Contact Details

weiy@runsa.cn

### What's the question?

error pictur
![插件报错截图](https://user-images.githubusercontent.com/38902618/140893416-ef39312d-6365-4ffd-9ca1-82ae145b9865.jpg)
e

### Relevant log output or information

_No response_

### Code of Conduct

- [X] I agree to follow this project's Code of Conduct

[2021-11-10 14:15] siisa opened #31 "[Question]: Is anyone having performance issues?"
### Contact Details

msokal@gmail.com

### What's the question?

Hello.
We've been testing with some of our data, even with small tables.

- using tsql to get one record from a 2 row database may take 800ms, which is way too much.
- we had to transform gin indexes to other types, loosing the ability to use "like", in order to get some improvements... from 600ms to 90ms in small tables using a clas

[2021-11-10 18:20] JimFinnerty commented on #31
Babelfish does not yet support GIN indexes / full text search, but LIKE with wildcards is supported and can use a btree index access path on either a deterministic collation or a case-insensitive collation, if a suitable index is available.  You wouldn't expect to see any I/O advantage using index based access on a 2-row table, though.

Can you provide more detail about your use case, and maybe po

[2021-11-10 19:02] JimFinnerty commented on #28
At the current time Babelfish does not yet support the TSQL MERGE statement (although it would be great to have).  The PostgreSQL community had a MERGE patch a few years ago (https://www.postgresql.org/message-id/attachment/23520/sql-merge.html), but it was eventually withdrawn.  The preferred solution would be to have the MERGE statement be built into core PostgreSQL and to build the TSQL impleme

[2021-11-10 21:02] setchego commented on #31
Hi Jim, here´s some detail on small executions that seem to have odd times:

We had a small tsql stored procedure that made a select from a small table of about 250 total rows.

CREATE procedure [dbo].[sp_getRulePolicyParametersAdmittedValues]
       @clientId smallint,
       @policyId smallint,
       @varName varchar(50)
as
       select id,val from RulePolicyParametersAdmittedValues where clie

[2021-11-11 20:25] mfhaynes opened #32 "[Bug]: Errors while trying to build/Make the tsql extension"
### Contact Details

mf.haynes@gmail.com

### What happened?

While attempting to build Babelfish from source on a Ubuntu 18.04 box, I got the following errors while trying to  `make` the `babelfishpg_tsql` extension:

[code]

### Version

BABEL_1_X_DEV (Default)

### Extension

babelfishpg_tsql (Default)

### What flavour of Linux are you running into the bug?

Ubuntu (Default)

### Relevant log

[2021-11-12 15:45] mfhaynes commented on #32
I just noticed that this is a duplicate of #23

[2021-11-12 15:53] mfhaynes opened #34 "[Bug]: ALTER TABLE commands adding multiple columns error out"
### Contact Details

mf.haynes@gmail.com

### What happened?

While running `sqlcmd` against a Babelfish database:
[code]

### Version

BABEL_1_X_DEV (Default)

### Extension

babelfishpg_tsql (Default)

### What flavour of Linux are you running into the bug?

Ubuntu (Default)

### Relevant log output

_No response_

### Code of Conduct

- [X] I agree to follow this project's Code of Conduct

[2021-11-12 16:53] #17 closed, assigned to peet83

[2021-11-12 17:56] 3manuek commented on #20
Yes @spencercw , looks like the [SQL Server DDL definition](https://docs.microsoft.com/es-es/sql/t-sql/statements/create-table-transact-sql?view=sql-server-ver15) accepts the following pattern:

[code]

cc/ @gopinathpai @zli236

[2021-11-12 20:52] #32 closed, assigned to nasbyj

[2021-11-12 20:58] nasbyj commented on #26
At this time, the best advice I can give is the same as in #7: try and and see. Given how similar ASE and SQL Server are, it will probably work. While official ASE support would be nice to have, it's currently not a priority. But, we'd still like to know if you're successful here, or if not, what problems you're finding.

I'm going to close this for now, but feel free to re-open at any time (or in

[2021-11-12 20:58] #26 closed, assigned to nasbyj

[2021-11-12 20:59] nasbyj commented on #7
I'm going to close this for now. Please feel free to re-open with any additional info.

[2021-11-12 20:59] #7 closed, assigned to nobody

[2021-11-13 11:25] yairlenga commented on #26
Short update, for anyone trying to follow
* Use current freetds 1.3.X or better
* Explicitly force TDS version 7.2 (export TDSVER=7.2, or similar)
* Add explicit "set quoted_identifier to on" at the start of the session
* Add explicit "use" at the start of the session

Probably possible to address 2, 3, 4 via configuration/setup.

[2021-11-15 08:21] ahachete commented on #28
Related: there's apparently a new version of PostgreSQL's MERGE patch: https://www.postgresql.org/message-id/202111121757.lste2omukt6p@alvherre.pgsql

[2021-11-15 08:33] rsubr opened #36 "[Question]: docker support"
### Contact Details

_No response_

### What's the question?

Thanks a ton for this project, I'm eagerly waiting for Babelfish to reach production quality.

I have created a docker image using the current code base. This is an initial commit, suggestions are welcome.

1. GitHub repo: https://github.com/rsubr/postgres-babelfish
2. Docker Hub: https://hub.docker.com/r/rsubr/postgres-babelfish

Hope

[2021-11-15 21:18] JimFinnerty commented on #31
@setchego - execution of both a pl/tsql function and a pl/pgsql procedure causes the SQL statements it contains to be prepared when first encountered.  This incurs parsing and planning overhead only once.  This is true of both pl/tsql and pl/pgsql, but presently the overhead of pl/tsql parsing is higher, hence higher overhead on first execution in the pl/tsql case.

[2021-11-15 21:49] setchego commented on #31
Hi Jim, thanks for your input.
I understand what you say about parsing and planning before the actual execution.

I'm sharing a few measurements, maybe it helps for future improvements. My code is an AWS Lambda function calling this function about 8 times inside a loop with different parameter values.

![image](https://user-images.githubusercontent.com/7060702/141857699-c620f783-a9a2-4e05-b9c8-54c

[2021-11-16 11:45] 3manuek commented on #36
Thanks @rsubr for your interest in creating Docker files for Babelfish! I had actually been working on this as well and we expect a pull request in the near future; I looked into your submission and the Dockerfiles are similar. As soon as his code is available we’ll update this issue so you can take a look.

[2021-11-16 22:42] 3manuek opened #37 "[Enhancement]: Automate Installation steps for Developer testing"
### Contact Details

_No response_

### What this feature/enhancement tries to solve?

In order to simplify development testing on local environments, we developed docker files that could fit this purpose in our internal repositories:

https://github.com/babelfish-for-postgresql/babelfish_extensions_internal/blob/docker_build_v2/Dockerfile.ubuntu
https://github.com/babelfish-for-postgresql/postgre

[2021-11-18 17:49] 3manuek commented on #30
Hi @weiya1990 , can you share more details about the environment and the steps done to reproduce this issue?

[2021-11-22 19:43] 3manuek commented on #36
Thanks for your interest in creating Docker files for Babelfish! I had actually been working on this as well and we expect a pull request in the near future; I looked into your submission and the Dockerfiles are similar. As soon as his code is available we’ll update this issue so you can take a look.

[2021-11-26 13:57] laurenz opened #38 "[Bug]: invalid access to freed memory"
### Contact Details

_No response_

### What happened?

In `contrib/babelfishpg_tsql/src/pl_funcs.c`, function `pltsql_free_function_memory`,line 862, we have this piece of code:

[code]

Now `func` was allocated in `contrib/babelfishpg_tsql/src/pl_comp.c`, function `src/pl_comp.c`, line 1047:

[code]

So the `MemoryContextDelete` in `pltsql_free_function_memory` frees the memory where `func` resi

[2021-11-30 16:09] nasbyj opened #42 "[Enhancement]: Setup valgrind testing"
### Contact Details

_No response_

### What this feature/enhancement tries to solve?

We should setup valgrind testing for memory access errors (see issue #38)

### If want to provide us a more details about how to implement.

_No response_

### Version

babelfishpg_tsql (Default)

### Relevant documentation

_No response_

### Code of Conduct

- [X] I agree to follow this project's Code of Condu

[2021-11-30 16:12] 3manuek commented on #37
Currently, this has been worked at https://github.com/ongres/babelfish_install_tests @nasbyj .

[2021-11-30 16:29] 3manuek opened #43 "[Enhancement]: Automate installation steps for verify and double-check documentation"
### Contact Details

emanuel@ongres.com

### What this feature/enhancement tries to solve?

There is an initial work for testing the installation steps over a variety of Linux-flavors under Docker env:

https://github.com/ongres/babelfish_install_tests

### If want to provide us a more details about how to implement.

_No response_

### Version

babelfishpg_tsql (Default)

### Relevant documentati

[2021-11-30 17:29] siisa commented on #31
have you guys had the chance to take a look at this? Best regards!
Mariano

[2021-12-01 07:47] laurenz opened #44 "[Bug]: Invalid memory access in "pre_transform_target_entry" (plus other code review)"
### Contact Details

laurenz.albe@cybertec.at

### What happened?

In `contrib/babelfishpg_tsql/src/hooks.c`, function `pre_transform_target_entry`, we have this code:

[code]

`alias[NAMEDATALEN] = '\0';` clearly writes outside the allocated memory, which has length `NAMEDATALEN`.

I would have suggested a fix, but the whole function is so unclear and under-documented that I get lost in the code.

[2021-12-01 16:29] laurenz opened #46 "[Bug]: Cache reference leak in "pltsql_function_probin_reader""
### Contact Details

laurenz.albe@cybertec.at

### What happened?

In `pltsql_function_probin_reader` in `contrib/babelfishpg_tsql/src/pltsql_function_probin_handler.c`, we have code like this:

[code]

However, the cache entry is never released; the function is missing a call

[code]

### Version

BABEL_1_X_DEV (Default)

### Extension

babelfishpg_tsql (Default)

### What flavour of Linux are yo

[2021-12-02 11:04] louishust opened #47 "[Question]: what antlr directory really do?"
### Contact Details

hdchild@163.com

### What's the question?

I have a question!

I see there is a directory named antlr under babelfishpg_tsql, but babelfishpg_tsql generate gram-backend.y for parser,
so what the antlr really do?

### Relevant log output or information

_No response_

### Code of Conduct

- [X] I agree to follow this project's Code of Conduct

[2021-12-02 13:53] korry commented on #31
Yes, still working on this - will update as soon as we have some news.

   -- Korry

[2021-12-03 18:33] korry commented on #47
It's not uncommon for a procedural language to have a parser (src/backend/pl separate from the backend (SQL) parser (src/backend/parser/gram.y).

The antlr directory holds the parser (and lexer) for PL/tsql - this parser (and lexer) isconstructed using ANTLR4.

I think that gram-backend.y is a modified version of src/backend/parser/gram.y - it's used to parse SQL code that may contain syntax exten

[2021-12-06 07:56] louishust commented on #47
@korry
Thanks for your reply.
I saw there is an option named `babelfishpg_tsql.use_antlr` to choose the pl/tsql's parser.

[code]
So there are two ways to parse the pltsql? one using antlr and the other use yacc?
and which way will be the primary way in future?

[2021-12-07 16:21] gopinathpai commented on #42
@laurenz - are you setting up valgrind testing?

[2021-12-07 16:25] laurenz commented on #42
I wouldn't know where to set it up.
I have added documentation in the linked pull request.

[2021-12-07 22:21] nasbyj opened #48 "Remove hard-coded object files from Makefile"
### Contact Details

nasbyj@amazon.com

### What happened?

The TSQL make file (and presumably others) hard-codes each `.o` file into the `OBJS` variable, which is a maintenance burden. We should replace it with something along the lines of

`OBJS = $(patsubst %.c,%.o,$(wildcard src/*.c))`

### Version

BABEL_1_X_DEV (Default)

### Extension

babelfishpg_tsql (Default)

### What flavour of Linux a

[2021-12-08 08:24] HelloWorld-9527 opened #49 "[Question]: create extension babelfishpg_tsql; ERROR: undefined symbol: TdsGetPGbaseType"
### Contact Details

254980222@qq.com

### What's the question?

According to the official document，I install babelfish( pg and extensions), but when i using psql and create extension, I met some error:
create extension babelfishpg_tsql;
ERROR:  could not load library "/home/babelfish/pgsql_babelfish/lib/babelfishpg_tsql.so": /home/babelfish/pgsql_babelfish/lib/babelfishpg_tsql.so: undefined symbo

[2021-12-08 16:35] gopinathpai commented on #49
Hi @HelloWorld-9527 could you please provide the exact steps you followed for the installation? We are unable to repro this issue. Thank you!

[2021-12-08 17:05] HelloWorld-9527 commented on #49
Thank you for answering.
I am follow this document : https://babelfishpg.org/docs/installation/compiling-babelfish-from-source/
my system is centos7，I have upgraded gcc/g++ to gcc (GCC) 8.3.1, cmake version 3.14.5

`export INSTALLATION_PATH=/home/babelfish/pgsql_babelfish`

[code]

and then following the document，install antlr4
[code]
then install the extensions
[code]

start pg for babelfish,
i u

[2021-12-08 17:12] HelloWorld-9527 commented on #49
before installing babelfish extension, i have run several environment variables:
[code]

and I started pg and psql is

[code]
I have changed the `postgresql.conf`
[code]

[2021-12-09 16:26] gopinathpai commented on #47
@korry - could you please respond to the follow up question?

[2021-12-09 17:43] kuntalghosh commented on #49
The language extension 'babelfishpg_tsql' has a dependency on 'babelfishpg_common' extension. Could you please check whether you've installed the other extension before creating the language extension? And, both the extensions should be created in the same psql session.

In order to avoid all the hassles, you can use the following command to install the dependencies automatically:
`create extensio

[2021-12-10 03:07] HelloWorld-9527 commented on #49
![image](https://user-images.githubusercontent.com/23397598/145510577-74046007-1f36-44b4-bc0e-ab529d9661c3.png)

[2021-12-10 22:41] gopinathpai commented on #49
@HelloWorld-9527,
@xaviersierra and @3manuek are validating the install instructions on centos7 environment. They will report back, once they have tested, with any findings. Thank you!

[2021-12-14 02:25] HelloWorld-9527 commented on #49
Thank you for testing.
if you hava any finding，or something dependent packages I missed or installed wrong, or  update some step,  please contact me.

[2021-12-14 10:22] robverschoor commented on #27
You should create T-SQL language objects through the Babelfish TDS port, and invoke them through the TDS port. Likewise, You should create PG/plSQL language objects through the PG port, and invoke them through the PG port.  While it may technically be possible to mix SQL dialects in a single session, this may behave differently (especially related to transactions and error handling) than it would

[2021-12-14 22:36] sangilsong commented on #47
Hi @louishust,

The current babelfish architecture has two parsers. The first one is ANTLR parser which is compatible with T-SQL grammar.
This is the frontend parser (but still running postgres backend) and consume all the query string inputed from TDS port.
The role of ANTLR parser is 1) validate T-SQL grammar and then 2) relay the query string into postgres backend parser for normal DML/DDL, or

[2021-12-15 15:22] 3manuek commented on #49
Hi @HelloWorld-9527, can you retry recompiling the extensions adding the `cmake` env variable, please?

[code]

[2021-12-16 00:23] sangilsong commented on #23
duplicate of https://github.com/babelfish-for-postgresql/babelfish_extensions/issues/32. already fixed.

[2021-12-16 00:23] #23 closed, assigned to sangilsong

[2021-12-16 15:39] 3manuek opened #53 "[Enhancement]: Test installation scripts in GH CI"
### Contact Details

emanuel@ongres.com

### What this feature/enhancement tries to solve?

Considering the work done at [PR 50](https://github.com/babelfish-for-postgresql/babelfish_extensions/pull/50), it'll be useful to use these scripts to test the installation steps instead of using plain commands as of now in the CI workflow.

### If want to provide us a more details about how to implement.

[2021-12-21 14:43] xaviersierra commented on #49
Hi @HelloWorld-9527

I was able to install babelfish con centos7, to do that I have to upgrade gcc to 8.5.0:

The following script downloads and builld gcc.
[code]
Then I followed the installation steps as usual, until the antlr4 build.

To compile antlr4, cmake version 3 is required. Unfortunately, the cmake of centos7 repositories is cmake 2

To install cmake version 3, I run the following scrip

[2021-12-21 18:51] xaviersierra commented on #49
We currently don't support Babelfish on CentOS 7. We support CentOS 8. If you would like to contribute to the project by getting it running on CentOS 7, we'd welcome and support that. It will be beneficial for others who are on CentOS7. You could use the JDBC and ODBC test frameworks available.

[2021-12-27 19:55] susanmdouglas-aws opened #54 "[Bug]: Wording on Question dialog needs to be updated - Github issue"
### Contact Details

susandou@amazon.com

### What happened?

On the Question template, there is a section titled 'What's the question?', immediately followed by the sentence 'Tell us about your doubts'.  That sentence should be replaced (though doubting and questioning are sometimes linked in dictionaries and thesaurus, their meanings aren't identical).

I would suggest replacing it with somethin

[2021-12-28 22:49] kewinbrand opened #55 "[Question]: Cannot connect from SQL Server Management Studio"
### Contact Details

kewin.robetti@korp.com.br

### What's the question?

When connecting to the cluster via nssm  it shows the following error

[code]

### Relevant log output or information

[code]

### Code of Conduct

- [X] I agree to follow this project's Code of Conduct

[2021-12-31 09:30] renzl321 opened #56 "[Question]: data migration"
### Contact Details

_No response_

### What's the question?

My environment is that I want to migrate data from sqlserver to babelfish according to the official documentation generated DDL file using ssms tool and then import via sqlcmd tool with error."'CREATE DATABASE ON <database-file-spec>' is not currently supported in Babelfish",Every sql statement I my error,
![image](https://user-images.g

[2022-01-08 15:36] robverschoor commented on #56
You should probably enable the escape hatches which will ignore some (not all) of the unsupported syntax.  See https://docs.aws.amazon.com/AmazonRDS/latest/AuroraUserGuide/babelfish-strict.html and look for sp_babelfish_configure.

[2022-01-08 15:44] robverschoor commented on #34
This is currently a known limitation of Babelfish: you can add/drop only a single column or constraint at a time with ALTER TABLE.

[2022-01-14 15:02] amuja opened #57 "Support Dynamic SQL parameters upto 1500"
Hi,

We have come across the scenario where application built on entity framework was failing due to dynamic sql generated by EF was producing 1500 parameters and currently PG only supports upto 100 parameters. Can we increase the limit of dynamic parameter processed on babelfish extension or loop through the parameters before the actual statements is parsed?

[2022-01-18 16:31] robverschoor commented on #57
This should be discussed with product management and Babelfish dev mgmt first

[2022-01-19 18:56] gutosantos82 opened #58 "[Bug]: TDS Stream crash when selecting a N/VARCHAR(MAX) variable"
### Contact Details

augusto@gemeos.org

### What happened?

Receiving a "SQL Error [08S01]: The TDS protocol stream is not valid." on the following code

[code]

Expected result:

[code]

### Version

BABEL_1_X_DEV (Default)

### Extension

babelfishpg_tsql (Default)

### What flavour of Linux are you running into the bug?

Ubuntu (Default)

### Relevant log output

_No response_

### Code of Con

[2022-01-19 19:11] gutosantos82 opened #59 "[Bug]: Unexpected behaviour with Aggregate Concatenation Queries"
### Contact Details

augusto@gemeos.org

### What happened?

Unexpected behaviour with Aggregate Concatenation Queries

[code]
Result:
[code]
Expected result:
[code]

References:
https://social.technet.microsoft.com/wiki/contents/articles/28585.t-sql-safely-concatenate-values-into-a-scalar-variable.aspx
https://www.betaarchive.com/wiki/index.php/Microsoft_KB_Archive/287515

### Version

BABEL_1_X_

[2022-01-20 15:50] 3manuek commented on #55
Hi @kewinbrand,
Currently, the ability to connect from the SSMS Object Explorer is not supported. Please refer to the documentation here on how you can connect. https://babelfishpg.org/docs/usage/command-line/#using-ssms-to-connect.

[2022-01-20 16:51] robverschoor commented on #59
There are multiple issues here.
First, Babelfish does not currently support variable assignments whereby the target variable also occurs in the assignment expression. This is a known issue.  Incidentally, the same applies to UPDATE where a variable is assigned in the SET clause.

Second, observe that this query actually does not have a guaranteed result in SQL Server. The order of the concatenatio

[2022-01-21 03:37] gutosantos82 commented on #59
Hi @rcv-aws, thanks for the feedback. Is there a ticket for this known issue? So I can track the development.
Yes, I read in the Microsoft KB that in MSSQL the order is also not guaranteed. I'm not specifically interested in the order, I just would like to have the same values disregarding the order.

[2022-01-21 09:11] robverschoor commented on #59
We are tracking this internally at AWS.

[2022-01-21 10:09] HelloWorld-9527 commented on #49
thank you.
Installation went smoothly on Ubuntu with no problems.
It can also be installed on centos7, I am using the babelfish now.  I will sort out the process and verify why it works when I am free, and list below.

[2022-01-21 10:30] HelloWorld-9527 opened #60 "[Question]: Create a user such as SA ? Initialize babelfish again? sys.default_constraints? .etc"
### Contact Details

254980222@qq.com

### What's the question?

Hello, I am using babelfish, sometime I meet some problem.  thank you！

1. Many times I have get the "permission denied", how can I create a user such as SA in sqlserver? So that I can create database or using Profiler for tracing.
![N{UK9`FWA PJN~_H6ST7K5M](https://user-images.githubusercontent.com/23397598/150508831-ffef4ff4-bff5-4

[2022-01-21 14:30] 3manuek commented on #57
Just adding extra information to this issue, the [SQL Server maximum capacity for function/procedure parameters](https://docs.microsoft.com/en-us/sql/sql-server/maximum-capacity-specifications-for-sql-server?redirectedfrom=MSDN&view=sql-server-ver15) are:

- Parameters per stored procedure 2,100
- Parameters per user-defined function 2,100

Postgres function parameters are tied to [FUNC_MAX_ARGS](

[2022-01-21 16:14] 3manuek commented on #58
Executing the above code block twice this from a `tsql` client, I get the following error:

[code]

Also, all executed commands after the error, even after attempting to `use master` to reconnect -- but this, could be specific to the tsql client.

[2022-01-24 15:54] 3manuek commented on #59
@JimFinnerty I checked this and the `f` returned by the code block is not related to the bool data type. It returns the last iterated `letter`.

[code]

Test within `e` as the last letter:

[code]

[2022-01-25 12:03] mrtnjcl opened #61 "[Bug]: SQL Error [33557097] [S0001]: missing FROM-clause entry for table "XX""
### Contact Details

_No response_

### What happened?

When i try to run the following SQL query against the TDS endpoint i get an error.

#### Query (simplified)
`UPDATE tabs SET tabOrder = t2.rn
FROM tabs t1
JOIN (SELECT tabId, ROW_NUMBER() OVER (ORDER BY tabOrder) AS rn FROM tabs t2 WHERE accountId = 1234) t2 ON t1.tabId = t2.tabId
WHERE t1.accountId = 1234`

#### Error
`SQL Error [33557097] [

[2022-01-27 08:13] mssqlserver opened #62 ""permission denied for table ..." when trying to select a table in master_db created from postgres"
### What's the question?

Hi! I want to access my babelfish-database (single-db-mode) via T-SQL AND postgres:
I'm planning to use some applications that can only "talk" postgres while other application only "talk" T-SQL.
Both should use the same server running babelfish.

My idea is to create tables or views from postgres in the master_dbo that can be used via T-SQL. This way a postgres-applicatio

[2022-01-27 15:48] hanshnrch opened #63 "[Question]: Will T-SQL trigger conceptual tables inserted, deleted be supported?"
### Contact Details

hans-heinrich.rueter@e-velopment.de

### What's the question?

I have a question!
In SQL Server T-SQL insert, update and delete triggers access to NEW and OLD row values
are enabled by conceptual tables `inserted` and `deleted`. However in babelfish postgres
I get an error with following code:

[code]
In SQL Server I get the expected results in the table `example_archiv`.

In

[2022-01-28 11:52] khanna43 opened #65 "[Enhancement]: Unable to connect with Bablefish PostgreSQL using sqlcmd ."
### Contact Details

khanna.43@gmail.com

### What's the question?

I am getting this below error while connecting to Babelfish postgreSQL database using sqlcmd. I am able to make connection with the database using pgsql. I tried connecting from SSMS also but is failing with error ( A connection was successfully established with the server, but then an error occurred during the pre-login handshake

[2022-01-31 08:09] khanna43 commented on #56
Hi rcv-aws ,

Can we use bablefish to migrate SQL Server to PostgreSQL in on premise environments . ?.
I believe the postgreSQL for Bablefish along with extension is now open source project and can be used by anyone. ?
Please correct me if my understanding is not correct.

[2022-01-31 08:13] khanna43 opened #69 "Unable to connect with Bablefish PostgreSQL using sqlcmd"
### Contact Details

khanna.43@gmail.com

### What's the question?

I am getting this below error while connecting to Babelfish postgreSQL database using sqlcmd. I am able to make connection with the database using pgsql. I tried connecting from SSMS also but is failing with error ( A connection was successfully established with the server, but then an error occurred during the pre-login handshake

[2022-01-31 09:40] npo38 opened #67 "Permissions Management for new users inside Babelfish"
### Contact Details

nporte@protonmail.com

### What's the question?

Hi,

I'm using Babelfish wih AWS RDS Aurora. It's working great but I have a question regarding permissions. For the moment, when you create a new user, only sysadmin role can be assigned, which is not very secure.

Are there some updates planned ? For example, for fine grained role, or to assign db_owner role for a user ? Or a

[2022-01-31 11:27] robverschoor commented on #63
Yes, INSERTED and DELETED are supported for FOR/AFTER triggers (DDL triggers and INSTEAD OF triggers are not currently supported). However, the current release of Babelfish contains a limitation that you cannot reference INSERTED or DELETED in a trigger that was created for multiple actions (here, INSERT and UPDATE). This issue has been fixed and will be rolled out in a future release of Babelfish

[2022-01-31 11:41] robverschoor commented on #62
The bigger issue here is how the T-SQL and PG side of Babelfish can (or not) interact.

But first, GRANT and REVOKE, as well as the T-SQL database principal ("DB user") concept are not currently implemented in Babelfish (this is on the roadmap). Generally, performing DDL in PG and expecting this to be reflected on the T-SQL Babelfish layer, is not supported. Babelfish works the other direction: wh

[2022-01-31 11:43] robverschoor commented on #67
GRANT and REVOKE, as well as the T-SQL database principal ("DB user") concept are not currently implemented in Babelfish (this is on the roadmap). Currently, this means a T-SQL login needs to have sysadmin role in order to be able to create databases or objects in those databases. Non-sysadmin logins currently can only access tempdb and master (as 'guest'), and can only create #temp tables.
Work i

[2022-01-31 11:47] robverschoor commented on #65
How was **babelfish_user** created? If created in PG with CREATE USER, it is not possible to use this to connect to the TDS port. You can only connect to the TDS port with a login that was created in T-SQL with CREATE LOGIN. It is true that that will be visible in the PG catalogs as a PG user, but that is not the same as when that user was created through PG directly. Babelfish internally maintain

[2022-01-31 11:49] robverschoor commented on #61
This looks like a known issue in Babelfish. For a better diagnosis, please provide a full reproduction , including the table DDL.

[2022-01-31 11:54] robverschoor commented on #60
1: your login must be a member of sysadmin role in order to create a database.
2: it is currently not possible to recreate a Babelfish database in a PG instance where this was done earlier. You have to delete the instance and create a new instance from scratch
3: The catalog sys.default_constraints is not supported in the current release of Babelfish. This will be supported in a future Babelfish r

[2022-01-31 11:57] robverschoor commented on #58
When executing this code with 'sqlcmd' , it works correctly.

[2022-01-31 23:13] nasbyj commented on #58
@3manuek or @gutosantos82, can you try this with `sqlcmd` instead of `tsql` (which we currently don't formally support...)

[2022-02-01 06:27] khanna43 commented on #65
Thanks Rob for the update.
Yes I created the *babelfish_user* using psql create user command. I did
the below steps as mentioned initial setup section ( as mentioned in Single
vs. multiple database setups - Babelfish for PostgreSQL (babelfishpg.org)
<https://babelfishpg.org/docs/installation/single-multiple/>)

*But How can I create TSQL Login User when I am unable to connect to
postgreSQL instanc

[2022-02-01 09:23] hanshnrch commented on #63
Thanks a lot for your information. Version 1.0.0 is identical to current head of Branch BABEL_1_X_DEV?

[2022-02-01 09:59] robverschoor commented on #65
Once the babelfish database is created, connect to the TDS port with babelfish_user and run **CREATE LOGIN mylogin WITH PASSWORD='myS3cret'.** You will need to give this login sysadmin role as well: **ALTER SERVER ROLE sysadmin ADD MEMBER mylogin**

[2022-02-01 19:08] nasbyj commented on #63
@hanshnrch it is for now; we're close to formally tagging 1.0.0 as well as beginning to pull in 1.1 commits.

[2022-02-02 08:34] khanna43 commented on #65
Thanks Rob for the quick response.

Understood you point and now I tried the below steps now but I am still
getting 2 issue

1) when calling SYS*.INITIALIZE_BABELFISH('babelfish_user'); it is faling *
2) also although the "ALTER SYSTEM SET babelfishpg_tsql.database_name =
'demo';" was successful but I getting error "c*ould not find default
database for user "babelfish_user""*

CREATE USER babelfis

[2022-02-02 08:42] khanna43 commented on #65
Further when I am specifying the default database name in freetds.conf
file.

[bable]
    host = 192.168.56.11
    port = 1433
    database = demo
    tds version = 7.3

I am getting this error .

 tsql -S bable -U babelfish_user
Password:
locale is "en_IN.UTF-8"
locale charset is "UTF-8"
using default charset "UTF-8"
Msg 3701 (severity 11, state 1) from BABELFISH Line 1:
*        "database "demo"

[2022-02-02 21:48] univsocal opened #70 "babelfishpg_tsql.escape_hatch_unique_constraint not allowing me to create a unique constraint on nullable column"
attempting to migrate existing sql server db/app to postgres-babelfish

babelfishpg_tsql.escape_hatch_unique_constraint not allowing me to create a unique constraint on nullable column

set to "ignore" - and still getting message

SQL Error [33557097] [S0001]: Nullable UNIQUE constraint is not supported. Please use babelfishpg_tsql.escape_hatch_unique_constraint to ignore or add a NOT NULL constra

[2022-02-03 14:33] kuntalghosh commented on #65
Relevant logs:

It looks like something is already listening to port 1433. That's why PG is not able to create the listening socket on 1433. Is it possible that the you are running another Babel server or SQL Server on the same instance which is also listening to 1433?

[2022-02-07 08:42] khanna43 commented on #65
Thanks Kuntal and Rob.
Server is correctly listening on port 1433 and 5432 after starting we can
verify the logs below

Also now I am able to connect the bablefish postgresql using sqlcmd after
the function CALL SYS.INITIALIZE_BABELFISH('babelfish_user');
successfully completed. I was able to do this after giving GRANT ALL ON
SCHEMA sys to babelfish_user;
This step is missing in the bablefish docu

[2022-02-07 09:39] mssqlserver opened #71 "unrecognized configuration parameter: NO_BROWSETABLE"
### Contact Details

_No response_

### What happened?

Hi,

many SQL-Query-Analyzers execute "SET NO_BROWSETABLE ON" or "SET NO_BROWSETABLE OFF" when accessing data or opening a connection.

Unfortunatelly this feature is not supported which makes those tools useless.
I was able to get a Query-Analyzer (FlySpeedSQL-Query) on windows working using a ODBC-connection.

Is there a way that this comma

[2022-02-07 11:15] robverschoor commented on #70
Could you please post:

- the exact Babelfish release you're using (OK, that is 1.0.0 right now, but adding this point as best practice)
- the result of **sp_babelfish_configure 'escape_hatch_unique_constraint'**
- the exact DDL you are executing plus the error output

[2022-02-07 12:17] robverschoor commented on #65
On the "missing step": it is actually in the documentation. Please see https://babelfishpg.org/docs/installation/single-multiple/ and
https://github.com/babelfish-for-postgresql/babelfish_extensions/tree/BABEL_1_X_DEV/contrib

[2022-02-07 13:41] robverschoor commented on #71
The Babelfish project aims to provide T-SQL support for end user applications. For activities such as query analysis, monitoring, backups, etc. the direction is to perform such activities from the PostgreSQL side, using PG tools and utilities, since we are running on PG after all, and the internals will be PG-specific.

That said, could you please elaborate on the use case for using query analyzer

[2022-02-07 13:57] mssqlserver commented on #71
Well, as a developer a Query-Analyzer is my all-day-tool I'm using for development.

When trying to implement babelfish (means that babelfish will become the primary database for my application) I need to run TSQL-queries against babelfish in order to develop my application - this is when such a tool is needed.

I know that I can access my TSQL-Tables using postgreSQL, but my application only "tal

[2022-02-07 14:43] robverschoor commented on #71
Given that query plans and internal tech details will not be looking like they do on SQL Server (but rather, will be PG-like) exactly what are you expecting to work in Babelfish from this perspective?  It would be helpful to have some examples in terms of actual queries being issued by your tools, and expected results.
BTW, note that FOR BROWSE is not currently supported in Babelfish.

[2022-02-07 16:50] mssqlserver commented on #71
I'm only interested in inspecting tables, queries and stored procedures / functions.
These are the most common used objects when coding standard software (from my perspective).

To me it is important to see the database exact the same way as my application which is connecting via TSQL to the postgres-database.

So it would be great if babelfish would accept the "SET NO_BROWSETABLE" command without

[2022-02-07 18:31] univsocal commented on #70
i WAS able to get this to work by creating the escape hatch. for some reason, this was not initially working for me.  With babelfish-postgres --- I AM ABLE to create a  unique constraint on a NULLABLE column - if i first change the escape hatch from STRICT to igniore

EXECUTE sp_babelfish_configure 'escape_hatch_unique_constraint', 'ignore', 'server'

NOW the following DDL DOES work

ALTER TABLE [

[2022-02-07 18:32] univsocal commented on #70
babelfish version - Babelfish for Aurora Postgres with SQL Server Compatibility - 12.0.2000.8
Oct 13 2021 17:34:47
Copyright (c) Amazon Web Services
PostgreSQL 13.4 on aarch64-unknown-linux-gnu

[2022-02-07 18:33] univsocal commented on #70
ORIGINAL message BEFORE escape hatch was
SQL Error [33557097] [S0001]: Nullable UNIQUE constraint is not supported. Please
use babelfishpg_tsql.escape_hatch_unique_constraint
to ignore or add a NOT NULL constraint

[2022-02-07 21:04] robverschoor commented on #70
This is expected: most Babelfish escape hatches are set to 'strict' out of the box.
Thanks for confirming.

[2022-02-07 21:04] #70 closed, assigned to nobody

[2022-02-11 01:19] bradtx19 opened #73 "[Question]:"
### Contact Details

bthomas@paymerang.com

### What's the question?

The T-SQL stored procedures that I wish to execute using babelfish do not fully qualify the names of the tables with the name of the schema.  As a result I get the 'relation "x" does not exist' error.   If I edit my procedure and qualify the table names with the schema name then this error goes away.  If I look at the search_pat

[2022-02-14 21:48] robverschoor commented on #73
Could you please provide a concrete example of how you are creating the object, and how you are referencing it?

[2022-02-14 21:48] nasbyj commented on #71
@rcv-aws it's sounding like we should add an escape hatch for `SET NO_BROWSETABLE`, do you agree?

[2022-02-14 21:50] robverschoor commented on #71
Not currently. We are tracking this feature request internally.

[2022-02-15 11:39] voha-ov opened #74 "[Question]: Uanble to compile babelfishpg_money"
### Contact Details

kacnepb@gmail.com

### What's the question?

Hi guys. I am trying to install babelfish extensions and I encountered with the problems like this:

voli@voli-VirtualBox:~/bf_ext/babelfish_extensions/contrib/babelfishpg_money$ sudo make
/bin/sh: 1: --version: not found
/bin/sh: 1: --version: not found
/bin/sh: 1: --version: not found
make: --pgxs: No such file or directory
/bin/s

[2022-02-15 16:20] thephantomthief commented on #74
Hi @voha-ov, did you set the `PG_CONFIG` environment variable? Could you try setting it and retry compiling the extension? You can find instructions to set it under the "Set environment variables and paths" section in the [build instructions](https://github.com/babelfish-for-postgresql/babelfish_extensions/blob/BABEL_1_X_DEV/contrib/README.md)

[2022-02-15 16:51] bradtx19 commented on #73
For example:
After creating a Babelfish enabled Postgres cluster I executed these statements in SSMS:

    create database demo
    use demo
    create schema biz
    create table [biz].[cities](
	    [city] varchar(128),
	    [state] varchar(128)
	    )

    create procedure [biz].[p_getcities] as
    begin
	    select * from cities
    end

    insert into [biz].[cities](city, state) values ('Po

[2022-02-15 18:07] robverschoor commented on #73
What is happening here is that the name resolution inside the procedure biz.p_getcities does not correctly resolve the table name. It resolves it to 'dbo' schema while it should resolve it to 'biz' schema. As you noted, this is related to the search_path setting, and this is not set correctly in this case.
This is a known bug and we hope to fix it soon.

Until then, the workaround is to qualify th

[2022-02-15 21:08] bradtx19 commented on #73
Thank you for the explanation.  Here's hoping the bug is fixed soon.

[2022-02-15 21:08] #73 closed

[2022-02-17 14:48] #49 closed, assigned to 3manuek, kuntalghosh, korryd

[2022-02-18 01:01] bradtx19 opened #75 "What privileges are required for a user to connect to any database other than master"
### Contact Details

bthomas@paymerang.com

### What's the question?

**Is it possible for a user to connect to a babelfish database other than master if that user is not a member of the sysadmin role?**

I have created a babelfish enabled database.  The master username is postgres.

In SSMS I connected to this database cluster and I created a database named biz.
Then I created a table in the dbo

[2022-02-21 15:42] 3manuek opened #76 "[Enhancement]: Allow extensions to compile under top_builddir"
### Contact Details

_No response_

### What this feature/enhancement tries to solve?

As part of the work on the release package, it is intended to deliver extensions as part of the contrib directory under the engine source code, using the `top_builddir` instead PGXS.

### If want to provide us a more details about how to implement.

Adding a conditional when doing the include of the PGXS.

### V

[2022-02-21 21:27] metalshanked opened #78 "[Question]: Python Clients - Get "ROLLBACK can only be used in transaction blocks" Error with pyodbc and pymssql"
### Contact Details

smayya@gmail.com

### What happened?

A simple create_engine with SQLAlchemy seems to cause the below error with engine.connect()

Example:-
[code]

### Version

BABEL_1_X_DEV (Default)

### Extension

babelfishpg_tsql (Default)

### What flavour of Linux are you running into the bug?

Other

### Relevant log output

[code]

### Code of Conduct

- [X] I agree to follow this pr

[2022-02-22 05:56] palmerj opened #79 "[Question]: postgres database already exists"
### Contact Details

jpalmer@linz.govt.nz

### What's the question?

In single-db mode when I create a database (e.g `mydb`) it creates the following default user databases `master` and `tempdb`.  When I try to create a user database with the same name as the postgres database I get the following error:

[code]

According to the [source code](https://github.com/babelfish-for-postgresql/babelfish_e

[2022-02-22 15:52] 3manuek commented on #78
Hi @metalshanked ,

According to the log output, I'm not certain that this is related strictly to Babelfish.
Check that you have `autocommit` set to false, it is the default in [SQL Alchemy 1.14](https://docs.sqlalchemy.org/en/14/orm/session_api.html#sqlalchemy.orm.Session.params.autocommit).

Please confirm that you addressed the following notice in SQL Alchemy:

[2022-02-23 06:48] palmerj opened #80 "[Bug]: MSSQL ODBC wizard doesn't let you select a database"
### Contact Details

jpalmer@linz.govt.nz

### What happened?

I've create a single-db bablefish cluster with one user database. When I use the Windows Create New Data Soruce ODBC connection for MSSQL I can connect, however I can't see the user database in the dropdown list, nor can I test datasource.

<img width="505" alt="create odbc list database" src="https://user-images.githubusercontent.com/

[2022-02-28 09:19] cleyva2017 opened #93 "[Enhancement]: Calling Stored Procedures in another database within the same Instance"
### Describe how this change will improve the Babelfish website.

We are evaluating babelfish to migrate our  applications with a huge sqlserver backend, the problem is that we use a lot cross database calls. we have several databases involved, we use a database to store functions and stored procedures that are called from another storeprocedures from the other database. But when we try to call sp

[2022-03-01 08:57] HelloWorld-9527 opened #81 "[Question]: select CAST(0x0000A47F000F896A AS DateTime);"
### Contact Details

254980222@qq.com

### What's the question?

I have a  script of a sqlserver application for init database, with a lot of:
`CAST(0x0000A47F000F896A AS DateTime);`

I am trying to create a function such as the function in babelfish_extensions/contrib/babelfishpg_common/sql/datetime.sql,
maybe someone can help to see how to deal with it ? or get me some suggestion

### Relevant l

[2022-03-03 15:59] 3manuek commented on #69
Hi @khanna43 ,

I see that you are connecting using the IP address in the sqlcmd.

[code]

Could this be related to the `babelfish_tds.listen_adresses` setting? Set it to `*` for allowing that port to listen to through all the interfaces.

[2022-03-04 21:38] nasbyj opened #82 "Document engine changes"
### Contact Details

nasbyj@amazon.com

### What this feature/enhancement tries to solve?

We should document the changes in the engine code, especially anything that's not a hook

### If want to provide us a more details about how to implement.

_No response_

### Version

babelfishpg_tsql (Default)

### Relevant documentation

_No response_

### Code of Conduct

- [X] I agree to follow this proj

[2022-03-07 17:36] robverschoor commented on #81
What is the use case for specifying a hex value here?  Why is it preferred over just specifying the actual datetime value?

[2022-03-07 20:50] robverschoor commented on #79
When the Babelfish instance is created with migration_mode = single-db, you can create only one user database at a time (master and tempdb are always present). If you want to create more than one database, create your instance with migration_mode = multi-db; you cannot change this setting after the instance is created.
The difference between the two mode lies in the way the SQL Server schema names

[2022-03-07 20:52] robverschoor commented on #75
In the current Babelfish release (v.1.1.0), only a login that is a sysadmin member is able to use a user database, as currently only the dbo user is implemented for user databases. This is a significant limitation, and enhancements in this area will be delivered in future releases.

[2022-03-08 22:05] wieck opened #84 "[Bug]: LLVM compilation of babelfishpg_tsql crashes"
### Contact Details

jan@wi3ck.info

### What happened?

PostgreSQL is normally configured with LLVM support for platforms where that is supported. This happened on RockyLinux 8.5.

Configuring Babelfish --with-llvm causes the LLVM linker to crash with the following error in the babelfishpg_tsql module:

[code]

### Version

BABEL_1_X_DEV (Default)

### Extension

babelfishpg_tsql (Default)

### W

[2022-03-08 22:14] wieck opened #85 "[Bug]: Makefile for babelfishpg_money is outdated"
### Contact Details

jan@wi3ck.info

### What happened?

The Makefile of the the babelfishpg_money extension is mostly identical to the one of 2nd-Quadrant's last version of fixeddecimal, from which it was derived. That extension has not been updated in over 2 years. Because of this the extension's Makefile does not recognize PG-13 and fails to include several definitions in the babelfishpg_money

[2022-03-10 02:07] suprio-amzn commented on #56
Yes, Babelfish for PostgreSQL (i.e. this Open Source project) which includes the Babelfish extensions and the PostgreSQL code base with the Babelfish patches applied can be used by anyone.

[2022-03-10 15:33] robverschoor commented on #80
It appears this problem happens with older ODBC versions, like ODBC Driver version 10.0. When using a recent ODBC driver version (like version 17), the connection works fine, so that is the recommended workaround for now.

[2022-03-12 17:25] wieck opened #87 "[Bug]: Arithmetic overflow error for data type numeric."
### Contact Details

jan@wi3ck.info

### What happened?

The precision and scale detection for NUMERIC/DECIMAL expressions is broken for aggregates, resulting in the above ERROR being thrown.

SQL script to reproduce (execute with SQLCMD -e -i ...):
[code]

Output:
[code]

PostgreSQL error log shows:
[code]

The problem is caused by the function `resolve_numeric_typmod_from_exp()` in `tdsresponse.

[2022-03-12 20:41] robverschoor commented on #87
Thanks Jan! I have created a tracking item internally for this.

[2022-03-12 20:46] wieck opened #88 "[Bug]: WITH (UPDLOCK) does not create a proper row lock"
### Contact Details

jan@wi3ck.info

### What happened?

This happens with the [BenchmarkSQL](https://github.com/wieck/benchmarksql), which is a TPC-C style benchmark. The exact same code works fine with a real MS-SQL Server 2017.

The (relevant) queries of the NEW_ORDER transaction are

[code]
These are all JDBC PreparedStatement constructs. But that should not make any difference.

**WITH (UPDLO

[2022-03-12 21:19] wieck commented on #88
I can also reproduce the problem with two manual SQLCMD sessions. Babelfish indeed does allow two sessions to perform

[code]
for the exact same row in two sessions. And both sessions do retrieve the same row version. Even if the first session does an UPDATE, the second is not blocked from doing the SELECT (and getting the old row version because the UPDATE hasn't been committed yet).

This is the

[2022-03-13 06:17] palmerj commented on #79
I'm happy with single-db mode, but I want to have the same MSSQL database name as the one I also use to connect with PostgreSQL client tools. That doesn't look to be possible.

[2022-03-13 14:02] robverschoor commented on #88
This is a known current limitation. As documented, all hints are currently ignored.

[2022-03-13 14:16] robverschoor commented on #79
When creating an migrated SQL Server database, you are free to choose the name with CREATE DATABASE, e.g. **CREATE DATABASE mybigdb**. You can then see this database with **sp_helpdb** and let you application connect to this database for example with **sqlcmd ... -d mybigdb**.
If you are referring to the name of the Babelfish container database, that is a PostgreSQL database, and while you are fre

[2022-03-13 14:27] wieck commented on #88
This is not really a hint but a request to acquire a row level lock for the selected data. T-SQL does not support the ANSI-SQL `SELECT ... FOR UPDATE [NOWAIT]` syntax. That makes the `WITH (UPDLOCK)` a necessary, basic feature.

Is there a suggested workaround for this?

[2022-03-13 15:12] robverschoor commented on #88
I do not disagree on the semantics, but technically this is a 'table hint' in the T-SQL dialect. As for a workaround, the same effect can be achieved by doing a dummy update first.

[2022-03-13 15:41] wieck commented on #88
Thanks Rob.

I will try that workaround for now. It will double the number of dead rows for those actions (and the TPC-C has 3 of them), so it may have a negative impact on performance.

[2022-03-14 01:07] wieck opened #89 "[Bug]: CREATE INDEX causes OOM"
### Contact Details

jan@wi3ck.info

### What happened?

Not sure if this is caused by the extension itself or the main engine changes. The following script run through `SQLCMD` will cause the backend to be killed for OOM. The queries as they are will run an 8GB VM with 8GB SWAP out of memory for sure. If your system is larger, increase the scaling factor (1000) until it happens.

[code]

### Vers

[2022-03-14 06:19] kuntalghosh commented on #89
Thank you Jan for reporting this issue. We're leaking memory in the following code snippet:
[code]
The above is called before calling any function. In the above function, we're not freeing the memory allocated by StringInfoBuffer (by default 1024bytes). For 'CREATE INDEX', the problem becomes worse as we sort the tuple first which calls the comparator function for each comparison. Hence, it quickl

[2022-03-14 15:26] robverschoor commented on #88
You can also generate a key value this way by first performing the update (SET d_next_o_id += 1) and then use the SELECT to pick up the generated value. This seems a little more direct than first doing a SELECT with an update lock and then doing the update.

[2022-03-14 15:41] wieck commented on #88
It would work even better if T-SQL had support for `UPDATE ... RETURNING`.

For now I went with the dummy update first and can run BenchmarkSQL without errors. See [this commit](https://github.com/wieck/benchmarksql/commit/59998b497d4ab049a04c80d4ceaf2009c413af3a). I may change it later and see if it makes a performance difference.

I am currently trying to put a fix into the index build OOM probl

[2022-03-14 16:07] wieck commented on #89
Hi Kuntal,

Adding a `pfree()` at the end of that function seems to do the trick just fine. Or am I missing something?

[2022-03-14 17:12] robverschoor commented on #88
You can do it as follows in SQL Server, but Babelfish does not currently support this syntax:

DECLARE @v int
UPDATE bmsql_district
    SET d_next_o_id = d_next_o_id + 1
                 @v = d_next_o_id + 1
WHERE [...]
SELECT @v    ==>  contains the generated key value

[2022-03-14 17:51] wieck commented on #88
The application needs other column values from the DISTRICT, which are not updated, also. That is why doing a `SELECT ... FOR UPDATE` of all the needed information, then doing an `UPDATE ...` for just the one, single column that changes, is the cleanest and most easy to understand and maintain code. All other databases, Oracle, MS-SQL, PostgreSQL, MySQL and MariaDB support this. And this is not th

[2022-03-14 18:05] robverschoor commented on #88
The purpose of the UPDLOCK is to serialize on the key generation. The additional attributes can be retrieved after that. There are multiple ways of doing this though.

[2022-03-14 18:40] wieck commented on #88
Rob, one of the primary goals for Babelfish was to provide a migration path for legacy applications without the need of invasive code changes. Rewriting a simple `SELECT ... WITH (UPDLOCK)` followed by an `UPDATE` into a completely reversed query logic is the exact opposite of that original goal. Especially when the correctness of such change can only be tested under concurrent load.

In this cont

[2022-03-14 19:55] robverschoor commented on #88
I do not disagree that this is a feature that may be used by existing applications and which Babelfish should ideally support. But I thought we were discussing possible workarounds here, hence my comments.

[2022-03-17 06:22] weiya1990 opened #91 "[Question]: Babelfish update problem. how to update only Babelfish and keep postgres data."
### Contact Details

1830624909@qq.com

### What's the question?

When the extension is updated. Use \dx to check the babelfish version is still old, if I drop extension  will  dependent objects.

![image](https://user-images.githubusercontent.com/38902618/158748748-c0a77d60-2f06-4a33-8bd4-49c50bea74c5.png)

### Relevant log output or information
![image](https://user-images.githubusercontent.com/

[2022-03-18 02:08] wieck commented on #91
Looks like one or more of your tables use a construct of `'text' + 'more_text'` in the DEFAULT clause. The upgrade .sql script wants to DROP and CREATE that + operator, which of course creates a dependency conflict.

Check file *babelfishpg_common/sql/upgrades/babelfishpg_common--1.1.0--1.2.0.sql* line 874.

I am not sure if the upgrade .sql could be improved to use different commands. What you co

[2022-03-18 15:49] robverschoor commented on #93
In the current v.1.1.0 and the upcoming v.1.2.0 releases, 3-part object name references are supported inside the current database only -- meaning that cross-DB queries are currently not supported indeed.
Adding support for cross-DB object references is on the roadmap as this is an important feature to support.

[2022-03-18 15:55] sherbert opened #94 "[Bug]: Insert out-of-range value into IDENTITY column"
### Contact Details

herbert@dc-energy.com

### What happened?

I observed divergent behavior between SQL Server 2019 and Babelfish PostgreSQL 13.6 when inserting an out-of-range value into an IDENTITY column. SQL Server accepts, Babelfish rejects if it is the first value but succeeds if a valid value was already inserted.
SQL Server 2019:
[code]
PostgreSQL 13.6 Babelfish for PostgreSQL:
[code]

I

[2022-03-18 16:17] robverschoor commented on #94
This is a bug. But inserting an invalid value into an identity column is arguably not a very realistic use case.

[2022-03-18 18:32] sherbert commented on #94
I don't disagree and would certainly characterize trying to do this as an application-level bug, but it seemed worth pointing out and documenting even as we fix it on our side.

[2022-03-18 19:30] robverschoor commented on #94
yes, we are tracking this internally

[2022-03-21 23:02] sangilsong commented on #91
We found the issue that string concat operator '+' had returned wrong datatype. We fixed the problem by making the concat operator returning the correct datatype.
But, Postgres doesn't allow to change the return-datatype of operator in place (no CREATE OR REPLACE OPERATOR). It's because changing return-type of operator (or function) can affect all the depending objects, which is inappropriate to b

[2022-03-23 15:04] wieck opened #100 "[Bug]: babelfishpg_tsql extension does not build with parallel make"
### Contact Details

jan@wi3ck.info

### What happened?

When building as `make -j16 -C contrib all` (on an actual 16-core VM) building of the *babelfishpg_tsql* extension fails with
[code]
There seem to be dependencies missing in the *cmake* generated Makefiles.

### Version

BABEL_1_X_DEV (Default)

### Extension

babelfishpg_tsql (Default)

### What flavour of Linux are you running into the bug

[2022-03-23 16:49] wieck commented on #89
While the usage of alloca() is generally discouraged, I think it would be warranted in this special case. We are dealing with relatively short strings that should usually fit into a cache line on modern architectures and not going through all the indirection of memory contexts will be beneficial for performance.

[2022-03-25 15:08] williamgosse opened #105 "[Question]: Batch create view syntax error"
### Contact Details

bgosse@aresprism.com

### What's the question?

Can someone explain this error I'm seeing:
# Input file: C:\dev\babelfish_compass-main\..\temp\scripts\E_CreateViews.sql. This file generated at 25-Mar-2022 10:39:47

Syntax error in batch 1, starting at line 1 in file C:\dev\babelfish_compass-main\..\temp\scripts\E_CreateViews.sql
Batch=[	IF EXISTS (SELECT 1 FROM INFORMATION_SCH

[2022-03-25 15:25] williamgosse commented on #105
One other point: I'm running babelfish 1.10 with AWS Aurora Postgres 13.5.

[2022-03-25 15:28] robverschoor commented on #105
The SQL above is valid and works without error in all Babelfish versions - I cannot reproduce the error you quoted. But there seems to be a bigger picture as your error message mentions "line 222" ?
Also, the Compass error is not clear to me (which Compass version?)
I guess we need to see the full input file.  You can email me directly at rcv@amazon.com if you don't want to post it here.

[2022-03-25 22:08] williamgosse commented on #105
Thanks for your response. I was able get around by adding the GO command after each CREATE VIEW statement in my SQL file.

[2022-03-25 22:24] robverschoor commented on #105
my guess: the problem is that CREATE VIEW must be the first (and only statement in the batch -- and it wasn't. Makes sense?

[2022-03-28 12:31] smoothdeveloper commented on #94
In context of TSQL dialect support, here is what microsoft says: https://docs.microsoft.com/en-us/sql/relational-databases/tables/disable-foreign-key-constraints-with-insert-and-update-statements?view=sql-server-ver15#Restrictions

After you disable these constraints, future inserts or updates to the column will not be validated against the constraint conditions.

For my own sake (of being curious

[2022-03-28 13:26] williamgosse opened #106 "[Question]: Is datetime to integer conversion supported somehow?"
### Contact Details

bgosse@aresprism

### What's the question?

I have a question! Is dateime to integer conversion supported somehow? Im seeing the following error in a view I'm trying to create:

Msg 33557097, Level 16, State 1, Line 97
UNION could not convert type datetime to integer

I'm told that this view creates fine in a normal sql server.

I tried to for the datetime field to a  date but

[2022-03-28 13:41] robverschoor commented on #94
The issue above is unrelated to foreign key constraints or check constraints.

Apart from that, let me just make the general point that if SQL Server does not support something, then in principle Babelfish will not support it either.

[2022-03-28 13:45] robverschoor commented on #106
The numeric representation of DATETIME is not currently supported in Babelfish. For converting numeric to DATETIME(not the other way around) , you can use the **-rewrite** option on the Babelfish Compass tool, this will rewrite the numeric expression in a way that will work on Babalfish.
Download Compass here: https://github.com/babelfish-for-postgresql/babelfish_compass/releases/latest

[2022-03-28 14:23] smoothdeveloper commented on #94
Sorry, I mixed identity insert and other type of constraints (check, foreign key).

SQL Server does support disabling the check on identity inserts, like it does for foreign key and check constraints, thanks for tracking it.

[2022-03-28 19:28] williamgosse commented on #106
This was another weird fix to what seem to be a totally unrelated column in each of the unions in the view.  Providing a default value, in this case a 0, made the error go away.

[2022-03-28 20:09] robverschoor commented on #106
There are some known issues related to implicit datatype conversion for different branches of a UNION. At least some of those were fixed, but if you can provide a reproduction I'd like to verify whether we have your issue on the radar.

[2022-03-29 01:45] weiya1990 opened #108 "[Question]: Tables created in postgresql are not visible when using sqlserver client connections."
### Contact Details

1830624909@qq.com

### What's the question?

Table created using Postgres JDBC, I want MSSQL JDBC to read into this table. How do I operate?

### Relevant log output or information

_No response_

### Code of Conduct

- [X] I agree to follow this project's Code of Conduct

[2022-03-29 06:43] robverschoor commented on #108
Babelfish performs a mapping of schema names as described in https://docs.aws.amazon.com/AmazonRDS/latest/AuroraUserGuide/babelfish.html#babelfish-architecture , so the schema names may be different when seen from T-SQL vs. from PG SQL.

[2022-03-29 17:57] williamgosse opened #109 "[Enhancement]: When will ALTER DATABASE statements be supported?"
### Contact Details

_No response_

### What's the question?

I have a question! When will ALTER DATABASE statements be supported?  Is there any work around?

Msg 33557097, Level 16, State 1, Line 1
'ALTER DATABASE' is not currently supported in Babelfish

Completion time: 2022-03-29T17:54:25.8311871+00:00

### Relevant log output or information

_No response_

### Code of Conduct

- [X] I agree t

[2022-03-29 19:06] robverschoor commented on #109
Which ALTER DATABASE options would you need? Many of these are very SQL Server specific and will not be relevant in a PG context.

[2022-03-30 16:07] williamgosse commented on #109
Yes this is true. It's mostly setting properties that are probably SQL Server specific:
USE [master];

CREATE DATABASE PRISMG2;

EXEC sp_dbcmptlevel @dbname=N'PRISMG2', @new_cmptlevel=100;

ALTER DATABASE PRISMG2 SET ANSI_NULL_DEFAULT OFF;

ALTER DATABASE PRISMG2 SET ANSI_NULLS OFF;

ALTER DATABASE PRISMG2 SET ANSI_PADDING OFF;

ALTER DATABASE PRISMG2 SET ANSI_WARNINGS OFF;

ALTER DATABASE PRISMG2

[2022-03-30 20:57] williamgosse opened #110 "[Question]: unrecognized configuration parameter: NO_BROWSETABLE?"
### Contact Details

bgosse@aresprism.com

### What's the question?

I have a question! Is there a way to deal with the issue below with a work around:

Msg 33557097, Level 16, State 1, Line 1
unrecognized configuration parameter: NO_BROWSETABLE

Completion time: 2022-03-30T20:55:30.6610077+00:00

### Relevant log output or information

_No response_

### Code of Conduct

- [X] I agree to follow t

[2022-03-30 21:06] robverschoor commented on #110
There is currently no workaround other than not submitting this statement (which admittedly may not be feasible).
We should put this under an escape hatch like is done for other options. What is the impact in real-world terms of not being able to  suppress this error?

[2022-03-31 12:24] williamgosse commented on #110
This NO_BROWSETABLE setting seems to be automatically added by the ADO OLE adapter. There seems to be no way to disable it. An escape would be great but I'm sure its work on the part of this project. Thanks for you quick response. Always helpful.

[2022-03-31 12:27] williamgosse commented on #110
Also, I'm using babelfish 1.1.0 with AWS Aurora Postgres 13.5.

[2022-03-31 13:57] alexklochkov commented on #71
Hi,

We have the same problem in our application using ADO.Recordset connected to BF via SQLOLEDB provider.

ADO adds SET NO_BROWSETABLE to every SELECT query, and we cannot turn this option off.

[2022-03-31 19:31] mssqlserver commented on #71
I am glad that I‘m not the only one having this problem.

Do you see a chance to simply ignore all SET NO_BROWSETABLE that are sent to BF?

[2022-04-01 16:08] williamgosse opened #112 "[Question]: Can I see my SQL Server database in AWS Aurora Postgres?"
### Contact Details

bgosse@aresprism.com

### What's the question?

I have a question!  I was able to create a database using the SQL Server Management Studio via babelfish in AWS Aurora Postgres. I tried to view that database in AWS Aurora Postgres via a postgres client (HeidiSQL) using 5432 port.  I can connect fine but can't see my database. Is what I'm doing even possible.

### Relevant log o

[2022-04-01 17:04] robverschoor commented on #112
From a babelfish perspective, there are not PG databases at all. All babelfish activity happens inside one specific PG container database created for this purpose. In Aurora, it's named babelfish_db; when using the opensource code, you can pick any name.
When connecting to the TDS port (1433), the session is placed inside this PG container database, and cannot connect anywhere else.  Inside this c

[2022-04-01 17:20] williamgosse commented on #71
I"ve seen this same issue with an older desktop app I'm that uses the native ms sqlclient.  This set is issued on every select statement made.  Note I'm using babelfish 1.1.0 with AWS Aurora Postgres 13.5

[2022-04-01 17:25] robverschoor commented on #71
We are looking to put this under a Babelfish escape hatch, just like some other unsupported session-level settings.

[2022-04-01 17:26] williamgosse commented on #71
That sounds great. Any estimate on when we can see this in AWS?

[2022-04-01 17:29] robverschoor commented on #71
The release vehicle has not been identified yet

[2022-04-01 19:21] williamgosse commented on #112
Thanks, that was was an awesome explanation.

[2022-04-03 05:16] suprio-amzn commented on #112
The docs explaining the above are [here](https://docs.aws.amazon.com/AmazonRDS/latest/AuroraUserGuide/babelfish.html#babelfish-architecture).

[2022-04-03 05:37] suprio-amzn commented on #110
Could you post a snippet of the code that is dealing with Connection setup and Recordset handling that is reproducing the above behavior? Particularly what driver you are using.

[2022-04-04 15:23] williamgosse commented on #110
''' <summary>
''' This class contains the SQL Client component.
''' </summary>

Public Class SqlConn
    Implements IDisposable

    Private mSQLCon As Data.SqlClient.SqlConnection
    Private msUser As String
    Private msPWD As String
    Private msHost As String
    Private msDbName As String
    Private msSchema As String
    Private msDbServerName As String
    Private otMain As SqlClient.Sq

[2022-04-04 16:19] williamgosse opened #113 "[Bug]: Select SERVERPROPERTY('MachineName') as MachineName returns null"
### Contact Details

bgosse@aresprism.com

### What happened?

A bug happened! Select SERVERPROPERTY('MachineName') as MachineName returns null. Shouldn't return a hostname?

Im using babelfish 1.10 on AWS Aurora Postgres 13.5.

![image](https://user-images.githubusercontent.com/27444380/161599015-df984cde-8d5e-4132-a6e3-fda2b9385340.png)

### Version

BABEL_1_X_DEV (Default)

### Extension

babel

[2022-04-04 18:41] williamgosse commented on #110
[SqlConn.zip](https://github.com/babelfish-for-postgresql/babelfish_extensions/files/8412297/SqlConn.zip)

[2022-04-04 18:43] williamgosse commented on #110
''' <summary>
''' This class contains the SQL Client component.
''' </summary>

Public Class SqlConn
    Implements IDisposable

    Private mSQLCon As Microsoft.Data.SqlClient.SqlConnection
    Private msUser As String
    Private msPWD As String
    Private msHost As String
    Private msDbName As String
    Private msSchema As String
    Private msDbServerName As String
    Private otMain As Mi

[2022-04-13 09:39] robverschoor commented on #113
This is not a bug; this property is not currently supported (the same applies to various other properties). Please check the Babelfish documentation for a list of supported properties.

[2022-04-13 16:09] nasbyj opened #114 "[Bug]: Reference to BABEL-669"
### Contact Details

nasbyj@amazon.com

### What happened?

There's [a reference to BABEL-669!](https://github.com/babelfish-for-postgresql/postgresql_modified_for_babelfish/blob/e87a3f20653778b1cd680ac6d9db5ca97f774eb9/src/backend/tcop/postgres.c#L4056) in the engine repo. It should be replaced with something that describes what BABEL-669 is.

### Version

BABEL_1_X_DEV (Default)

### Extension

[2022-04-13 16:44] nasbyj commented on #91
@weiya1990 our development team is working on a fix for this. It should be part of our next set of releases (1.2.1).

[2022-04-14 13:40] NazarkinDmitry opened #115 "[Bug]: Using "left join" returns an error"
### Contact Details

_No response_

### What happened?

Hi.
There is an error when executing a query with linking tables.

Creating tables:

Insert the data in the table1:

Executing the query :

_Query returns an error._

If you make such a query, then there will be no error:

### Version

BABEL_1_X_DEV (Default)

### Extension

babelfishpg_tsql (Default)

### What flavour of Linux are you runnin

[2022-04-14 14:11] robverschoor commented on #115
This seems to be a bug indeed. Thanks for catching that. We'll look into it.

[2022-04-15 14:46] sherbert opened #117 "[Bug]: segfault selecting computed column"
### Contact Details

herbert@dc-energy.com

### What happened?

segfault on trying to select from a table with this definition:
[code]
I needed the whole `ISNULL(CONVERT(` to get the segfault. Neither `AS ISNULL('A', 'B')` nor `AS CONVERT([CHAR](1), 'A')` would cause the issue.

[code]

The same sequence against SQL Server 2019 Express works as expected and gives:
[code]

### Version

BABEL_1_X_DE

[2022-04-15 17:13] robverschoor commented on #117
This is a bug. We're looking into it.
Thanks for reporting it.

[2022-04-15 21:20] sherbert opened #118 "[Bug]: segfault on error in user-defined function"
### Contact Details

herbert@dc-energy.com

### What happened?

segfault on trying to run a user-defined function containing a query that should instead fail with an error message. The query at the core of the function errors as expected when run directly:
[code]

But when wrapped in a function it causes a segfault:
[code]

### Version

BABEL_1_X_DEV (Default)

### Extension

babelfishpg_tsql (Def

[2022-04-16 15:09] robverschoor commented on #118
I think this is a known issue. We'll look into it further.

[2022-04-18 20:24] siisa commented on #31
Hello Korry! Do you know wether this was fixed in the new version or not?

[2022-04-19 09:54] mssqlserver commented on #110
Hi!
I had the same problem and can't wait for the release vehicle to be published :) - see:
https://github.com/babelfish-for-postgresql/babelfish_extensions/issues/71

Any news about a new release?

[2022-04-20 19:02] JeffSmithUSDA opened #126 "installing Babelfish Compass in an enterprise envrionment"
### Contact Details

jeffreyd.smith@usda.gov

### What's the question?

For Windows, I need to be able to install BabelFish Compass to a path that includes spaces in the path (i.e. C:\Program Files\BabelFish).  Because of security policy in our environment, it is generally difficult to put apps in other places and for regular users (non admins) to be able to run them.  As your batch file is curren

[2022-04-20 20:07] robverschoor commented on #126
It should work on sch a path if you edit line 16 the .bat file and add double quotes around the right-hand side.
I.e.:
`SET COMPASS="%cd%"`

Otherwise, good point. Will incorporate this.

[2022-04-20 20:13] robverschoor commented on #126
Incidentally, this issue should have been placed in https://github.com/babelfish-for-postgresql/babelfish_compass/issues

[2022-04-20 20:13] #126 closed

[2022-04-20 21:02] JeffSmithUSDA commented on #126
Thanks Rob, I appreciate the help.  I figured there was a separate path for compass, but from where I was on the babelfish page, I couldn't figure out how to find it and get there.  My apologies.  Again, thanks for the help, much appreciated.

[2022-04-21 14:24] robverschoor opened #131 "Add warning comment for GUC babelfishpg_tsql.sql_dialect"
### Contact Details

rcv@amazon.com

### What happened?

The GUC **babelfishpg_tsql.sql_dialect** allows Babelfish developers to temporarily switch SQL dialects in a session. However, this is strictly for development purposes only, and for developers who understand the inner working and consequences. It is very much not suitable for Babelfish users (regular nor expert). We should add a warning com

[2022-04-22 16:00] sherbert opened #136 "[Bug]: can't create local temporary table"
### Contact Details

herbert@dc-energy.com

### What happened?

Attempting to create a simple local temporary table is failing:
[code]
I see in the documentation that global temporary tables (names starting with `##`) are not supported (and I do get a descriptive error saying as much if I attempt to create one), but did not find anything suggesting that local temporary tables shouldn't work.

###

[2022-04-22 16:43] robverschoor commented on #136
I cannot reproduce this on any Babelfish version - it works fine for me.
That said, some time ago we ran into a bug which seemed to have as a side effect that you couldn't create such #temp tables anymore.
Can you drop your database? If so, please drop and recreate. If not, please delete the cluster and recreate it.

Which Babelfish version are you running exactly? Please always specify the output

[2022-04-22 21:33] sherbert commented on #136
Apologies, Babelfish version is 1.2.0.

Dropping and recreating the database did not fix the issue, but deleting and recreating the cluster did. I have a snapshot of the old cluster if there is any value to it for debugging the state that was breaking this.

[2022-04-22 21:41] sherbert opened #137 "[Bug]: handling of `load` reserved word"
### Contact Details

herbert@dc-energy.com

### What happened?

`load` is on the T-SQL [list of reserved words](https://docs.microsoft.com/en-us/sql/t-sql/language-elements/reserved-keywords-transact-sql?view=sql-server-ver15), but is actually accepted in some contexts on SQL Server 2019 (the only version I have to test at the moment). Example:
[code]

However, this fails in Babelfish 1.2.0:
[code

[2022-04-22 22:51] robverschoor commented on #137
We've seen similar cases before, it's a grammar-level issue. I will put it on the to-do list.

[2022-04-27 19:07] robverschoor commented on #136
The next release of Babelfish should contain a fix for this issue.

[2022-04-28 03:35] zxwsbg opened #142 "[Question]: BABEL_2_X_DEV latest commit cannot compile babelfish_tsql"
### Contact Details

zxwsbg@qq.com

### What's the question?

Pg kernel version is 14.2, I meet this error . I have built and install antlr4.

src/multidb.c: In function 'get_physical_schema_name':
src/multidb.c:879:2: warning: '__builtin_strncpy' specified bound depends on the length of the source argument [-Wstringop-overflow=]
  879 |  strncpy(name, schema_name, strlen(schema_name));
      |  ^

[2022-04-28 03:57] zxwsbg commented on #142
I built it with GCC 10.3.0 , in GCC 7.3 this problem doesn't appear.

[2022-05-04 21:39] sangilsong commented on #137
We already added all the missing unreserved keywords to a grammar file correctly before. But 'LOAD' seems like a different case.

The sqlserver document says LOAD is a reserved keyword and it can be used as an identifier only when it is "delimited" (https://github.com/MicrosoftDocs/sql-docs/blob/live/docs/t-sql/language-elements/reserved-keywords-transact-sql.md) but actually it works differently

[2022-05-11 20:00] mssqlserver commented on #110
Hi! As far as I can see by looking at the changelog the latest version of BF released 8 days ago does not contain an scape hatch for solving / ignoring the problem.

Is there a way to fix the problem without waiting for a new release? Or do you plan to fix the problem in the near future?

Thank you.

[2022-05-11 20:50] robverschoor commented on #110
it has not yet been addressed, but it is still on the roadmap

[2022-05-12 21:23] ghost opened #190 "[Enhancement]: Remove instances of relnamespace::regnamespace casting in system view, function, or procedure implementations"
### Contact Details

avneett@bitquilltech.com

### What this feature/enhancement tries to solve?

In some system view, function, or procedure implementations we see `relnamespace::regnamespace` casting going on. For example:
[code]
This kind of casting should be avoided. Modify the system object implementation to remove this casting but still have the view/function/procedure work correctly.

### I

[2022-05-12 21:38] nasbyj commented on #190
Also, there's really no reason for there to be two "levels" on these views. Instead of

[code]

Just do

[code]
(or `CAST (i.indrelid AS int) AS object_id` if you prefer)

[2022-05-12 23:52] SirNeato opened #192 "[Question]: Getutcdate() invalid input syntax for type interval: "UTC""
### Contact Details

_No response_

### What's the question?

I've been evaluating Aurora using Babelfish as an alternative to SQL Server, and during testing noticed that GETUTCDATE() was not supported? When `select getutcdate()` is executed, it produces the error message:
`Msg 33557097, Level 16, State 1, Line 1
invalid input syntax for type interval: "UTC"`
However GETDATE() works and returns a

[2022-05-15 12:02] JamesYuCN opened #203 "[Bug]: The string_agg/concat function has an incorrect encoding in Chinese."
### Contact Details

_No response_

### What happened?

centos 7.9 x64
docker pull coolincy/babelfish:14

create table acc
(
	[uid] [uniqueidentifier] NOT NULL primary key,
	[AccType] [int] NOT NULL,
	[AccName] nvarchar(60) NOT NULL,
	[AccName_other] nvarchar(60) NOT NULL,
);

-- insert demo data
insert into acc (uid,AccType,AccName,AccName_other)
VALUES
(newid(),'1','资产','ASSETS'),
(newid(),'1','

[2022-05-20 00:28] bradtx19 opened #221 "Is there a CAST defined for timestamp with timezone to datetimeoffset"
### Contact Details

bthomas@paymerang.com

### What's the question?

(using pgAdmin)
I can see that there are CASTs defined for timestamp without time zone to datetime and datetimeoffset (and the reverse)
I also see that there is a CAST defined for timestamp with time zone to datetime.

Is is possible to CAST a timestamp with time zone to datetimeoffset?
Is it possible to CAST a datetimeoffset to

[2022-05-22 15:27] tax opened #228 "[Question]: tsql change the nullability of column"
### Contact Details

_No response_

### What's the question?

When I run following statement
[code]
I get the following error

[code]
Which I believe is related to the documented difference of [ALTER TABLE](https://docs.aws.amazon.com/AmazonRDS/latest/AuroraUserGuide/babelfish-compatibility.html#babelfish-compatibility.tsql.limitations) _Supports adding or dropping a single column or constraint on

[2022-05-22 17:26] robverschoor commented on #228
It's simpler: as the error message says, NOT NULL is not currently supported with ALTER TABLE..ALTER COLUMN in Babelfish. NULL isn't either. If you specify ALTER TABLE ALTER COLUMN without NULL or NOT NULL, it should work.
If you want to change the nullability of the column, currently there is no way to do that from T-SQL, and you'd have to use the workaround by going through PG. In this case, thi

[2022-05-22 19:07] tax commented on #228
Thanks Rob for your quick answer!
_If you want to change the nullability_ yes, that is what I wanted to do. I will make the update through PG.

Updated title to better describe issue

[2022-05-23 10:57] tax commented on #228
Can this be added to the list of unsupported features?:
https://docs.aws.amazon.com/AmazonRDS/latest/AuroraUserGuide/babelfish-compatibility.html#babelfish-compatibility.tsql.limitations-unsupported-list7

[2022-05-23 11:32] robverschoor commented on #228
I'll submit a doc update

[2022-05-23 20:49] nasbyj opened #229 "[Bug]: Test script uses incorrect branch for pull requests"
### Contact Details

_No response_

### What happened?

For PRs, `.github/scripts/clone_engine_repo` is using the PR tree (ie, `tree/171/merge`) instead of a branch name. This can be seen [here](https://github.com/babelfish-for-postgresql/babelfish_extensions/runs/6549863801?check_suite_focus=true#step:4:15).

### Version

BABEL_1_X_DEV (Default)

### Extension

babelfishpg_tsql (Default)

### Wha

[2022-05-23 21:19] nasbyj commented on #229
PR #230

[2022-05-24 06:43] robverschoor commented on #28
Bablefish does not support the T-SQL MERGE statement. But the Babelfish Compass tool can rewrite MERGE as a series of INSERT/UPDATE/DELETE statements that performs the same operation. For this, use the **-rewrite** flag of Compass.
Get Compass here: https://github.com/babelfish-for-postgresql/babelfish_compass/releases/latest

[2022-05-24 06:47] robverschoor commented on #24
I checked in the latest codeline, and this problem appears to have been solved.

[2022-05-24 06:47] #24 closed, assigned to JimFinnerty

[2022-05-24 06:47] robverschoor commented on #22
TIMESTAMP and ROWVERSION are supported as of v.1.2.0

[2022-05-24 06:47] #22 closed

[2022-05-24 06:48] robverschoor commented on #20
This appears to have been fixed in the latest codeline.

[2022-05-24 06:48] #20 closed, assigned to zli236, 3manuek

[2022-05-24 06:48] #9 closed, assigned to macwoody

[2022-05-24 06:51] robverschoor commented on #87
This issue appears to have been fixed in the latest codeline

[2022-05-24 06:51] #87 closed

[2022-05-24 06:52] robverschoor commented on #75
In v.1.2.0, Babelfish supports the concept of database principals (CREATE USER), providing functionality that is much more similar to how SQL Server works.

[2022-05-24 06:56] robverschoor commented on #63
In v.1.1.0, the restriction that a multi-action DML trigger cannot references its transition tables, has been resolved.

[2022-05-24 06:56] #63 closed, assigned to nasbyj

[2022-05-24 06:57] robverschoor commented on #192
This will be fixed in v.2.1.0

[2022-05-24 07:02] #112 closed

[2022-05-24 16:32] max-webster commented on #113
In particular, on page: https://babelfishpg.org/docs/usage/limitations-of-babelfish/

SERVERPROPERTY(): | The following values are supported in 1.2.0: Babelfish, Collation, CollationID, Edition, EditionID, EngineEdition, ServerName, LicenseType, ProductVersion, ProductMajorVersion, ProductMinorVersion, IsSingleUser, IsIntegratedSecurityOnly, IsLocalDB, IsAdvancedAnalyticsInstalled, IsBigDataCluste

[2022-05-24 18:44] max-webster commented on #81
This StackOverflow question shows the logic for a conversion like this in C#:

https://stackoverflow.com/questions/63940870/convert-hex-value-from-sql-server-to-datetime-in-c-sharp

[2022-05-24 19:57] robverschoor commented on #81
I understand the underlying logic - but my question is for what purpose would you have a SQL-based application want to convert a hex constant to a datetime? It seems a rather unusual thing to do.

[2022-05-24 20:21] max-webster commented on #6
The current status can be checked at: https://babelfishpg.org/docs/usage/limitations-of-babelfish/

As of 1.2.0, the table says:

Partitioning - Table and index partitioning is not supported.
CREATE/ALTER/DROP PARTITION FUNCTION - This syntax is not supported.
CREATE/ALTER/DROP PARTITION SCHEME - This syntax is not supported.

[2022-05-30 12:43] marcocram82 commented on #115
This error occurs when the secondary table column used in the join is not null, if it's nullable no error occurs

[2022-06-02 17:02] max-webster commented on #91
Because the fix is in the pipeline, I'm going to close this question. Thanks for bringing the issue to our attention.

[2022-06-02 17:02] #91 closed

[2022-06-02 17:38] max-webster commented on #110
Because there already is https://github.com/babelfish-for-postgresql/babelfish_extensions/issues/71 for tracking this request, I'm going to close this question as a duplicate. Issue 71 is the best place to monitor which version will have the escape hatch.

[2022-06-02 17:38] #110 closed

[2022-06-02 17:42] mssqlserver commented on #71
Hi! Are there news about this issue?

[2022-06-03 19:22] max-webster commented on #79
Helpful answer from Rob. I'm bookmarking it to consult in my own Babelfish experiments. Looks like the original question has been answered and so I'll close the issue now.

[2022-06-03 19:22] #79 closed

[2022-06-03 19:35] max-webster commented on #55
Since this is a known and documented limitation, I'll close the question.

[2022-06-03 19:35] #55 closed, assigned to nobody

[2022-06-03 19:59] max-webster commented on #108
See also https://github.com/babelfish-for-postgresql/babelfish_extensions/issues/79 for some details about containment and visibility of the Babelfish-owned objects. MSSQL JDBC can't "see" outside of the Babelfish container database.

Creating Postgres objects inside the Babelfish container database doesn't set up all the same metadata as when those objects are created via T-SQL in Babelfish. So c

[2022-06-03 20:08] max-webster commented on #113
Since it's a documented limitation, I'll close the issue now.

[2022-06-07 12:39] zxwsbg commented on #142
<img width="2047" alt="wecom-temp-da4266e0dad6d9fc7a8b1c03c1ea07d4" src="https://user-images.githubusercontent.com/31441847/172380450-f3d9332a-f9a2-49b7-9ff3-2ff06600581d.png">
https://gcc.gnu.org/gcc-10/changes.html
gcc 10 change the default linking option.
So need add PG_CFLAGS += -fcommon in Makefile

[2022-06-07 19:41] max-webster commented on #108
This is all the info or recommendations that are available at the moment. So I'll close this issue now.

[2022-06-07 19:41] #108 closed

[2022-06-07 19:45] max-webster commented on #69
I see the connection problem was solved in the similar issue https://github.com/babelfish-for-postgresql/babelfish_extensions/issues/65. I'm closing this one as a duplicate.

[2022-06-07 19:45] #69 closed, assigned to nobody

[2022-06-08 17:19] max-webster commented on #228
Do we need to track this all the way through the doc update being published? Otherwise, I'll close the issue.

[2022-06-08 17:21] robverschoor commented on #228
I suggest keeping this open until the doc update has been done

[2022-06-08 17:23] max-webster commented on #62
I'll close this issue, as the question is answered by the best practices guidelines from Rob.

[2022-06-08 17:27] robverschoor commented on #62
Actually we need to point to an upcoming doc update about  interoperability between Babelfish and PG (once the doc is out)

[2022-06-08 18:18] max-webster commented on #62
OK, let me leave open so as not to overlook adding the pointer later.

[2022-06-08 18:41] max-webster commented on #192
Closing this issue since the question is answered.

[2022-06-08 18:41] #192 closed

[2022-06-08 19:58] max-webster commented on #27
As the scenario in the original question is unsupported / impractical, I'll close the issue now.

[2022-06-08 19:58] #27 closed, assigned to robverschoor

[2022-06-09 13:13] 3manuek commented on #142
Hi @zxwsbg ,

I have tested the compilation using `gcc (Ubuntu 9.4.0-1ubuntu1~20.04.1) 9.4.0` and it works properly. I didn't reproduce this yet on a higher version, but we'll surely test this.

[2022-06-10 02:49] Sawsbucky opened #263 "Windows Capable?"
I've found and seen info about Linux, but I'm having trouble finding any instructions for installing babelfish on a Windows OS-my priority is installing the dependencies.

Any help or feedback on the matter would be greatly appreciated.

[2022-06-14 16:11] max-webster commented on #263
I'm in the same boat. I'll consult with the dev team and reply back here.

[2022-06-17 07:01] xinghengYu opened #285 "[Bug]: Relation 'table_name' does not exist"
### What happened?

I have installed a Babelfish database and cab connect via SSMS or Navicat on TDS protocol.
running the SQL query as below is OK:
select * from PROJECT

but when I open a C/S hierarchy software to get the data via the same SQL.
it shows me 'relation 'PROJECT' does not exist.'

### Version

BABEL_1_X_DEV (Default)

### Extension

babelfishpg_tsql (Default)

### Which flavor of Li

[2022-06-17 07:38] kuntalghosh commented on #285
Hi @xinghengYu,

It's possible that the software is accessing some catalog information that we've not yet implemented in Babelfish. It'll be great if you can share the queries that the software sends to Babelfish server.

You can enable [log_statement](https://www.postgresql.org/docs/current/runtime-config-logging.html#GUC-LOG-STATEMENT) = 'all' in postgresql.conf file. This parameter will log all

[2022-06-17 09:47] buck1593 commented on #65
the function CALL SYS.INITIALIZE_BABELFISH('babelfish_user');
successfully completed. I was able to do this after giving GRANT ALL ON
SCHEMA sys to babelfish_user;
@khanna43 Hi~ I meet the same problem when I tried the function [CALL SYS.INITIALIZE_BABELFISH('babelfish_user');]
could you please share with me how did you fix that?

[2022-06-27 07:37] kuntalghosh commented on #89
Fixed as part of https://github.com/babelfish-for-postgresql/babelfish_extensions/commit/b8174d9dd20f317bd00b42a888c0bc717c83fc5e

[2022-06-27 07:37] #89 closed

[2022-06-28 12:11] NazarkinDmitry commented on #115
Hello,  any news? :)

[2022-06-28 12:43] robverschoor commented on #115
This has been fixed both in Babelfish v.1.3.0 and v.2.1.0. Both have been released for Aurora. I am not sure how far the OSS currently is for those releases, but if it's not ready, it'll be close.

[2022-06-28 14:02] marcocram82 commented on #115
thanks

[2022-06-29 17:33] 3manuek opened #346 "[Bug]: Syntax error on INSERT INTO with SELECT TOP"
### What happened?

The below statement is valid in the SQL Server flavor:

[code]

Executing the statement outside the INSERT, works correctly in Babelfish:

[code]

Although, running the INSERT with a SELECT TOP clause combination fails due to syntax error:

[code]

This has been tested both in 1_X and 2_X branches, with the same above error.

From the [documentation](https://babelfishpg.org/doc

[2022-06-29 18:21] robverschoor commented on #346
First off, note that the syntax in the reproduction above is in fact invalid in SQL Server, as ROUND() requires at least 2 arguments (try it).
But that aside (just add an argument for ROUND()), this is a known bug that has not yet been fixed.
The reason it is not listed as not-supported is that the documented list described features that are deliberately not supported. As for bugs (like this case)

[2022-06-30 10:48] 3manuek commented on #346
Thanks @rcv-aws for the quick response. I tested and edited the issue description to make SQL Server functional.

[2022-07-01 20:48] univsocal opened #355 "[Bug]: cannot create fk constraint in 1433 endpoint; apparently can create in 5432 endpoint only."
### What happened?

when attempting to create FK i 1433 endlpoint - get error

ALTER TABLE AdditionalDTCTitleData ADD CONSTRAINT FK_Holiday FOREIGN KEY (Holiday) REFERENCES Holiday(HolidayNo)

Msg 33557097, Level 16, State 1, Line 67
column "holiday" referenced in foreign key constraint does not exist

--- ---------

Babelfish for Aurora Postgres with SQL Server Compatibility - 12.0.2000.8 May 27

[2022-07-01 21:17] robverschoor commented on #355
There is not enough information to reproduce the issue. Please provide the DDL for tables **AdditionalDTCTitleData** and **Holiday**

[2022-07-01 23:00] univsocal commented on #355
wow thanks for the quick response. we are in the process of converting 1000+ sql server tables to postgres thru the use of aws-dms and babelfish. wanted to please know if we are doing something incorrect by attempting to add fk thru 1433 endpoint.

[AdditionalDTCTitleData.txt](https://github.com/babelfish-for-postgresql/babelfish_extensions/files/9031947/AdditionalDTCTitleData.txt)
[holiday.txt](h

[2022-07-01 23:02] univsocal commented on #355
we created the tables empty in 1433 endpoint thru extracted ddl and then used DMS to load the table(s) data.  we are subsequently adding the indexes in 5432 endpoint to avoid the babelfish index very long suffixes, and then attempting to create the fk constraints in the babelfish 1433 endpoint.

[2022-07-01 23:12] robverschoor commented on #355
When I run your DDL in Babelfish, it all works fine.

You should create the FK in Babelfish. When you create them in PG, things won't work (as you noticed) unless you figure out how to rename the schema.  The indexes are also best created in T-SQL.
Formally, Babelfish does not support this type of partly-in-T-SQL and partly-in-PG DDL for a single object. If you decide to go this way, you should be

[2022-07-01 23:18] univsocal commented on #355
when i do try this in 1433 endpoint in SSMS as advised by aws tech - i do get an error.  you said works fine, but for me, generates an error. please did not want to take up too much of your time, and just wanted to know if i am doing something obviously wrong.

thanks

![2022_0701_fk](https://user-images.githubusercontent.com/98920632/176976918-3d6ad3aa-c0f6-4ef0-b0a7-60caee6189ed.jpg)

[2022-07-01 23:24] univsocal commented on #355
note - this is example of the NAMES of the indexes created in 1433 endpoint VS the NAMES of the indexes created in the 5432 endpoint

![2022_0701_indexes](https://user-images.githubusercontent.com/98920632/176977204-c47de48f-ea3d-4044-bf9b-58f27ab514ae.jpg)
t

[2022-07-03 22:38] robverschoor commented on #355
This is what I get when I run the DDL. Please try that:

	1> CREATE TABLE [dbo].[AdditionalDTCTitleData](
	2>      [titleNo] [int] NOT NULL,
	3>      [dtcDescription] [nvarchar](4000) NULL,
	4>      [GTMProductionNo] [varchar](20) NULL,
	5>      [TmsId] [varchar](255) NULL,
	6>      [Holiday] [int] NULL,
	7>      [DTCProgramType] [int] NULL,
	8>      [DTCDayPart] [int] NULL,
	9>      [SEODescripti

[2022-07-08 03:11] mssqlserver commented on #71
Hi,
sorry for asking again, but do you have news about this issue? Is there a chance to modify the code so I can control / extend the escape hatches by myself?

Perhaps it would be a good idea to create a config-file that users can edit in order to add escape hatches by themselves?

Thank you for your support.

[2022-07-08 07:24] robverschoor commented on #71
This feature is currently being worked on and will hopefully be available in the next Babelfish release

[2022-07-08 09:59] HelloWorld-9527 opened #371 "how can I access data created by pg"
Hello, may I ask a question？

I have a scene that needs migrate data into babelfish pg  and access by sqlserver tds.
how can I get data by 1433(port for sqlserver)  while the table or object is created by pg?

create table t1 by pg port：
[code]

That is, I can't access pg data by tds,  but pg can access sqlserver port data
Can I get and manipulate  data  by sqlserver port （1433， tds） while the dat

[2022-07-08 13:03] robverschoor commented on #371
Babelfish is designed to provide T-SQL semantics on top of PostgreSQL through the T-SQL
dialect via the TDS port. The Babelfish database can also be accessed through the standard
PostgreSQL port with PostgreSQL SQL statements. When PostgreSQL statements or PostgreSQL access occur in the context of Babelfish, interference between PostgreSQL and Babelfish may occur, potentially affecting syntax, sem

[2022-07-11 09:46] Toyonut opened #376 "[Bug]: 2.1 release seems to be unable to build"
### What happened?

I'm running into a couple of issues getting the 2.1 release to build. The first is an issue with the extension builds needing `/usr/lib/postgresql/12/lib/pgxs/src/makefiles/pgxs.mk` and failing to build.

The next is if I solve that by installing the postgresql-server-dev-12 package, it leads to a number of issues with the extension building and none of the extensions are able

[2022-07-18 01:29] #6 closed, assigned to gopinathpai

[2022-07-18 01:35] suprio-amzn commented on #47
Detailed answer provided and docs updated.

[2022-07-18 01:35] #47 closed, assigned to sangilsong

[2022-07-18 01:38] suprio-amzn commented on #371
Detailed answer provided - please also see Interoperability guidance [https://babelfishpg.org/docs/usage/interoperability](https://babelfishpg.org/docs/usage/interoperability/).

[2022-07-18 01:38] #371 closed, assigned to nobody

[2022-07-18 01:44] suprio-amzn commented on #137
Issue has been fixed and fix is available in the Babelfish 2.10 release - see [https://github.com/babelfish-for-postgresql/babelfish-for-postgresql/releases/tag/BABEL_2_1_0__PG_14_3](https://github.com/babelfish-for-postgresql/babelfish-for-postgresql/releases/tag/BABEL_2_1_0__PG_14_3).

[2022-07-18 01:44] #137 closed, assigned to sangilsong

[2022-07-18 01:56] suprio-amzn commented on #62
Detailed answer provided - please also review Interoperability guidance doc [https://babelfishpg.org/docs/usage/interoperability/](https://babelfishpg.org/docs/usage/interoperability/).

[2022-07-18 01:56] #62 closed

[2022-07-18 01:58] #56 closed

[2022-07-18 02:00] suprio-amzn commented on #21
Please review [https://babelfishpg.org/docs/usage/query_planning/](https://babelfishpg.org/docs/usage/query_planning/).

[2022-07-18 02:00] #21 closed

[2022-07-18 02:13] suprio-amzn commented on #28
Question has been answered and workaround provided.

[2022-07-18 02:13] #28 closed

[2022-07-18 02:15] #54 closed, assigned to 3manuek

[2022-07-18 02:24] #113 closed

[2022-07-18 02:50] suprio-amzn commented on #88
Table Hints are currently not supported. The behavior to give errors is controlled by the escape hatch `babelfishpg_tsql.escape_hatch_table_hints`.

[2022-07-18 03:02] suprio-amzn commented on #75
Babelfish 2.1.0 and later support much of the functionality requested in this bug report.

[2022-07-18 03:02] #75 closed

[2022-07-18 03:08] suprio-amzn commented on #67
A majority of the functionality required for fine-grained authorizations for the Database securable using Database-level users is now available in the Babelfish 2.1.0 release.

[2022-07-18 03:08] #67 closed

[2022-07-19 00:51] suprio-amzn commented on #65
@khanna43: Is this still an issue?

[2022-07-19 00:55] suprio-amzn commented on #60
Questions have been answered.

[2022-07-19 00:55] #60 closed, assigned to nobody

[2022-07-19 01:19] suprio-amzn commented on #118
This issue cannot be reproduced anymore in the Babelfish 2.1.0 release.

[2022-07-19 01:19] #118 closed

[2022-07-19 01:20] suprio-amzn commented on #355
@univsocal : Could you try with the Babelfish 2.1.0 release again?

[2022-07-19 03:35] khanna43 commented on #65
For my issue, it was fixed by ensuring the Db port numbers 5432 and 1433
were not used by any other db instance.

 Rest all config were the same.

Thanks and Regards
Sachin Khanna
# 91 9049522511

On Fri, Jun 17, 2022 at 3:17 PM buck1593 ***@***.***> wrote:

[2022-07-19 05:29] #65 closed

[2022-07-19 08:27] #30 closed, assigned to 3manuek

[2022-07-19 16:36] suprio-amzn commented on #285
@xinghengYu: Were you able to use suggestion from @kuntalghosh above and produce verbose log output?

[2022-07-20 16:58] suprio-amzn commented on #105
@williamgosse: Was the issue you were facing fully resolved now? Do you need additional help on this one?

[2022-07-21 15:15] SwapnaSurya opened #428 "How to use SQL Server's 'Select FOR JSON PATH' & OPENJSON() in AWS RDS Babelfish DB"
Below existing T-SQL code which generates table data in JSON format just by using the keyword FOR JSON PATH, include_null_values & OPENJSON(). How to implement the same in **Babelfish** (Aurora PostgreSQL enabling Bablefish cluster) query by connecting to SSMS itself?
_Need possible solutions_. Thanks in Advance!!

/** Sample Table data in MS SQL server ***/
[code]

/** MS SQL results to **/
![Cap

[2022-07-22 03:46] suprio-amzn commented on #74
@voha-ov: Was your issue resolved after following the build instructions? Do you require further help?

[2022-07-22 06:30] suprio-amzn commented on #78
@metalshanked : Are you still having this issue? I am using **ODBC 18** and **sqlalchemy 1.4.39** with **Babelfish 2.1.0** and I do not see the issue:

[code]

[2022-07-22 06:48] #58 closed, assigned to nobody

[2022-07-26 22:52] chriscameron-vertexinc opened #445 "[Question]: How can I use case sensitive identifiers?"
Hello!

I would like to be able to write queries for the TDS endpoint using quoted identifiers so that the Postgres tables/columns/etc end up with the correct capitalization.

For example, with:
`CREATE TABLE "Persons" ("Id" int);`

I would expect a table `Persons`, but instead I get `persons`.

I have tried experimenting with `babelfishpg_tsql.quoted_identifier` but it doesn't seem to do what I'm

[2022-07-29 19:48] #78 closed

[2022-07-29 19:51] suprio-amzn commented on #74
Please reopen or file a new issue if you are still facing problems.

[2022-07-29 19:51] #74 closed

[2022-07-30 12:17] sksql commented on #428
FOR JSON is not supported. The supported functions are:
ISJSON( <JSON document> )
JSON_VALUE( <JSON document>, <path> )
JSON_QUERY(<JSON document> [, <path>] )
OPENJSON( <JSON document> [, path] ) [WITH clause]

Also note that currently a table alias after the WITH clause is not supported and there is a known phenomenon around using WITH clause in stored procedures.

Cheers,

/Stefan

[2022-07-30 12:39] sksql commented on #445
In what context / from what tool/statement do you expect the string "Persons" but get the lower case "persons" ?

Cheers,

/Stefan

[2022-08-01 13:56] chriscameron-vertexinc commented on #445
Hi Stefan

For the example above I am:
1. Using DBeaver to connect to the TDS endpoint as MS SQL Server
2. Creating a new database "test"
3. Executing the above query `CREATE TABLE "Persons" ("Id" int);`
4. Checking the corresponding `dbo` schema on the PostgreSQL endpoint and confirming I get the table `persons`

I can also confirm that I get the same result when running the query via SSMS and ve

[2022-08-01 14:02] #105 closed

[2022-08-01 16:22] max-webster commented on #445
Looks like currently this isn't supported. The original name gets stored with its original case separately from the underlying Postgres table name in the metadata. If the access from the Postgres side is for querying only, is it practical to create views with the expected names (e.g. 'Persons' view defined as 'select * from persons')?

[2022-08-02 13:30] sksql commented on #445
I am not getting the same behavior, at least not using sqlcmd with BBF 1.2.2:

CREATE TABLE TableNameInCamelStyle(
        cOLUMNoNE       INT     IDENTITY PRIMARY KEY
        , COLUMNTWO     VARCHAR(100)    NOT NULL
        , columnthree   INT     NULL
)

INSERT INTO TableNameInCamelStyle VALUES
        ( 'string1', 1000 )
        , ( 'string2', 2000 )
        , ( 'string3', 3000 )
        , ( 's

[2022-08-02 13:52] chriscameron-vertexinc commented on #445
I suspect if you're running all of these commands in sqlcmd then behind the scenes everything in the PostgreSQL database is still being stored lowercase.

Please can you try checking the PostgreSQL endpoint to see how the database is actually being stored? I suspect your tests would fail if you first made your table in PostgreSQL with mixed casing and then attempted to query it via sqlcmd.

For wh

[2022-08-02 14:27] sksql commented on #445
This is post 2.1 (in development), it's the one I had handy at the time of writing:
[code]

[2022-08-10 23:08] nasbyj opened #524 "[Bug]: Tests run against BABEL_* branches/tags need to be handled differently"
### What happened?

Currently [clone_engine_repo](https://github.com/babelfish-for-postgresql/babelfish_extensions/blob/BABEL_2_X_DEV/.github/scripts/clone_engine_repo) doesn't do anything special for branches _or tags_ that begin with `BABEL_`. This is a problem because any branch/tag in the extensions repo that starts with `BABEL_` should absolutely have a *single* corresponding** branch/tag in

[2022-08-15 11:31] mredeker opened #535 "[Question]: JDBC driver getTables returns empty result"
### What happened?

Using the latest Java SQL-Server JDBC driver (or older versions) the following call returns an empty ResultSet:

`ResultSet result = connection.getMetaData().getTables(null, null, "%", new String[] { "TABLE" });`

I checked the Source of  the JDBC driver which calls the build-in function sp_tables.
When I call the function from SQL Server Management Studio, I receive the correc

[2022-08-16 10:44] SwapnaSurya commented on #428
Thanks Stefan.
Let me know if this functionality can be implemented in future if any supportive functions introduced.

Thanks in Advance!
Swapna S

[2022-08-16 20:10] swechsler opened #544 "[question]: Possible to call a PostgreSQL function from within Babelfish?"
### What happened?

Babelfish 2.1 currently lacks support for `WAITFOR DELAY`; however, I note that PostgreSQL has the `pg_sleep()` function which would do the job just fine. Is there any way to call a Postgres function directly from Babelfish so we can implement our own missing functions rather than waiting for the team to add them?

### Version

BABEL_1_X_DEV (Default)

### Extension

_No respon

[2022-08-16 20:39] robverschoor commented on #544
Indeed you can call pg_sleep directly from T-SQL using the EXECUTE keyword. A slightly bigger issue is how to convert the time argument to pg_sleep, E.g. **waitfor delay '01:02:03'** becomes **EXECUTE pg_sleep 3723.0**
In fact, the Babelfish Compass tool will do this conversion for you when you use the **-rewrite** option (get Compass here: https://github.com/babelfish-for-postgresql/babelfish_com

[2022-08-18 21:39] swechsler opened #550 "[Bug]: Trigger names in separate Babelfish databases conflict"
### What happened?

If you have multiple Babelfish databases on a single instance, the following occurs:

[code]
This is version 1.2

### Version

BABEL_1_X_DEV (Default)

### Extension

_No response_

### Which flavor of Linux are you using when you see the bug?

_No response_

### Relevant log output

_No response_

### Code of Conduct

- [X] I agree to follow this project's Code of Conduct.

[2022-08-18 23:19] robverschoor commented on #550
It is not supported to have multiple Babelfish instances on  single instance. There are various issues associated with that due to which this should not be done. if you somehow do this then all bets are off.
In fact, I thought creating multiple Babelfish databases was not possible. Could you please share the steps you took to create these?

[2022-08-19 00:15] swechsler commented on #550
Simply run `create database` as many times as you need to. In fact, if multiple DBs are unsupported, why even allow you to create more than one?

[2022-08-19 00:48] robverschoor commented on #550
I see what you mean, we have a terminology issue as well as a bug here.
As for terminology, 'babelfish database', this means: the PG database inside of which the SQL Server multi-DB structure is emulated. You need to call the sys.initialize_babelfish() function to initialize the Babelfish DB. There can be only one of these. In Aurora this PG DB is always called 'babelfish_db', in the OSS docs, the

[2022-08-23 20:54] swechsler opened #556 "[Bug]: Unable to UPDATE table variable in user-defined function"
### What happened?

We get the error: `'UPDATE' cannot be used within a function`

This is with Babelfish 2.1

Code:
[code]

### Version

BABEL_1_X_DEV (Default)

### Extension

_No response_

### Which flavor of Linux are you using when you see the bug?

_No response_

### Relevant log output

_No response_

### Code of Conduct

- [X] I agree to follow this project's Code of Conduct.

[2022-08-23 21:55] robverschoor commented on #556
This is a known issue (the issue being that a table variable can be updated but Babelfish sees this syntax as an update of a regular table)

[2022-08-23 21:55] #556 closed, assigned to nobody

[2022-08-31 01:02] #285 closed, assigned to nobody

[2022-09-01 13:21] TestSubject1498 opened #575 "[How to Question]: LDAP Connection error"
### What happened?

TL;DR What are the officially supported means of authentication besides md5? I am struggling to find information on this in the babelfishpg.org documentation. md5 is not sufficient for my environment.

Version BABEL_2_1_STABLE (This version is not an option in the dropdown below)

Docker version 20.10.17, build 100c701 -- Ubuntu 20.04 as base image.

In pg_hba.conf that is prod

[2022-09-01 14:04] kuntalghosh commented on #575
Babelfish TDS endpoint doesn't yet support any other authentication mechanism apart from
- md5
- password
- trust

While we're working on other authentication support, please use md5 authentication mechanism.

[2022-09-01 15:02] TestSubject1498 commented on #575
That's too bad. Thank you for the quick response. Are you able to tell me which auth mechanisms support is under development for babelfish?

[2022-09-01 15:02] #575 closed, assigned to nobody

[2022-09-01 20:58] Sjetware opened #577 "Is it possible to add a linked server to babelfish?"
I've configured a local container to host babelfish with the default username and password on separate ports to not conflict with the running SQL and Postgres instances I already have running. Config setup:

* Postgres running in multi-db
* Username: babelfish_test
* Password: 12345678
* Container port mapping: (external -> internal)
** 1434 -> 1433
** 5433 -> 5432

I've been able to validate conn

[2022-09-01 21:18] Sjetware commented on #577
The closest I've been able to get so far is configuring a System DSN for Sql Server Native Client 11.0:

* Name: BfishDsn
* Server: localhost,1434
* Credentials: babelfish_user, 12345678

Then when I configure the linked server in SQL server:

* Name: BFISH
* Data Source: BfishDsn
* Login with specific context: babelfish_user, 12345678

With this kind of configuration, I can get the following quer

[2022-09-01 21:21] robverschoor commented on #577
Babelfish does not yet support linked servers. This is on the roadmap, although so far I think we have primarily looked at the outbound variation. We have not looked at the inbound variation that you are showing here so it is quite possible something needs a bit of work. Thanks for reminding!

[2022-09-01 21:27] Sjetware commented on #577
Good to know it's eventually coming, but sad that I guess I can't try leveraging that to switch some stuff to Aurora. Back to the drawing board!

[2022-09-01 21:29] #577 closed, assigned to nobody

[2022-09-13 13:39] markedcahinde opened #593 "[QUESTION] How do I connect to Babelfish using JTDS?"
We have provisioned an AWS Aurora Cluster (PostgreSQL 14.3) with Babelfish for Aurora PostgreSQL 2.1  enabled.
It seems though that we're having trouble connecting using JTDS driver encountering the following error log

[code]

We are using the latest JTDS driver (1.3.1) and this connection string
`jdbc:jtds:sqlserver://<db-url>:<db-port>/<db-name>`

Has someone also experienced the same?

[2022-09-15 09:45] kuntalghosh commented on #593
JTDS is not a supported driver (it's not in the list of drivers in the docs at https://docs.aws.amazon.com/AmazonRDS/latest/AuroraUserGuide/babelfish-connect.html)

Could you please provide a simplified code sample that connects to Babelfish endpoint and then throws this error?
Also, if you're using SSL, could you please turn off SSL and retry once?

[2022-09-16 08:20] markedcahinde commented on #593
I'm using DBeaver to connect to the cluster. I've used the jTDS connection driver for SQL Server with version 1.3.1 of the driver, so I've got no code. Is there a direct way to disable SSL in Babelfish besides Aurora cluster parameter groups?

[2022-09-16 15:42] ChetankumarMudholkar-V37222 opened #609 "[Question]: Can Informatica ON PREM connect to PostgreSQL on AWS with Babelfish software installed"
### What happened?

We are trying to connect from Informatica Windows server (v10.4.1) using a MS SQL Native connection to AWS Aurora PostGre SQL (v14.3) with babelfish (12.2) and unable to establish connectivity.

Babelfish for Aurora Postgres with SQL Server Compatibility - 12.0.2000.8 Jun 21 2022 20:23:14 Copyright (c) Amazon Web Services PostgreSQL 14.3 on x86_64-pc-linux-gnu

### Version

BAB

[2022-09-17 16:12] gpdnet commented on #94
I would like to add to this issue as it's pretty much stopped my migration testing. We have existing SQL server databases that have identity values of 0 (or less!) that we can't easily insert into a babelfish database. As above, if I issue a set identity_insert on for the table and try to insert 0 into the identity column I get a bizarre error message. Note, there is nothing wrong with identity va

[2022-09-17 16:13] gpdnet commented on #94
Oh, BTW, using AWS Aurora Babelfish for Postgres version 14.3 (with Babelfish 2.1.1)

[2022-09-18 18:48] suprio-amzn commented on #609
@ChetankumarMudholkar-V37222 : Have you tried to connect to the Babelfish server on AWS from the same client machine using another utility such as sqlcmd or SQL Server Management Studio?

[2022-09-19 14:41] suprio-amzn commented on #593
@markedcahinde: Is there a particular reason you want to use the jTDS driver? Dbeaver can be configured to use other JDBC drivers -- could you try the Microsoft SQL Server's JDBC driver?

https://github.com/dbeaver/dbeaver/wiki/Database-drivers

Also, please use Babelfish via TDS (beta) as the database:

<img width="778" alt="DBeaver databases" src="https://user-images.githubusercontent.com/932945

[2022-09-19 15:36] ChetankumarMudholkar-V37222 commented on #609
Yes from Individual machines we are able to connect via SQL Server Management Studio

[2022-09-20 09:34] markedcahinde commented on #593
Right, so this connection via jTDS on DBeaver is only a test. We do have a legacy application using jTDS driver to connect to SQL Server 2014, and now in progress to migrate that to Babelfish. For a number of reasons, moving away from jTDS is not quite the option, so we're looking for a right way to do this. We have tested DBeaver to try and identify any configurations to make it work, then eventu

[2022-09-20 15:52] suprio-amzn commented on #609
@ChetankumarMudholkar-V37222: It is not clear from the above message but could you find out the ODBC Driver version that is being used by Informatica?

[2022-09-22 18:00] netoax opened #627 "[Bug]: "mi" is not a recognized datediff option"
### What happened?

Hi,
I was trying to run the `datediff` function with the `MI` abbreviation for `minute`, [as it works on SQL Server](https://learn.microsoft.com/en-us/sql/t-sql/functions/datediff-transact-sql?view=sql-server-ver16#arguments), but got this error:

[code]

It works fine with the `N` abbreviation and we had to update our legacy codebase. However, I think it's still import to map

[2022-09-23 01:49] robverschoor commented on #627
This is a known current shortcoming of Babelfish. The remedy is to change 'mi' to 'minute'. Recent versions of the Babelfish Compass tool will make this change for you if you use the '-rewrite' option.

[2022-09-23 20:00] suprio-amzn commented on #593
@markedcahinde : As mentioned by @kuntalghosh above https://github.com/babelfish-for-postgresql/babelfish_extensions/issues/593#issuecomment-1247856660, jTDS is not one of the supported drivers as yet.

[2022-09-27 15:28] markedcahinde commented on #593
Thanks for the response @suprio-amzn! I believe jTDS' latest version (1.3.1 released circa 2013) supports TDS 7.1,  with that, is jTDS and other legacy drivers part of Babelfish roadmap to support in future?

I've tried to use Babelfish via TDS driver in DBeaver, while it has successfully connected to the database, the DBO schema wasn't listed; but I believe this is different from the jTDS query a

[2022-09-29 14:39] ChetankumarMudholkar-V37222 commented on #609
Its using 8.0.2.303  (Product name ODBC Pack)

[2022-09-30 12:46] netoax commented on #627
Thanks!

[2022-09-30 13:04] netoax opened #658 "[Bug]: param not defined when using `sp_executesql` procedure"
### What happened?

Hi,

I have an application written in Node.js that uses the library `mssql` and is trying to list employees using the `@employeeName` as a parameter. However, after investigations, I found the TDS library used by `mssql`, called `tedious`, [is using the stored procedure `sp_executesql` under the hood to execute my queries.](https://github.com/tediousjs/tedious/blob/5015634344ca

[2022-09-30 13:52] robverschoor commented on #658
Why do you think sp_executesql is not supported? It has been supported since Babelfish v.1.0.0.
The issue in your example has to do with case-sensitivity of the variable name used as parameter. This is a known issue.
When you use all-lowercase, it works fine:

1> create table employee(name varchar(20), surname varchar(20))
2> insert employee values ('john', 'smith')
3> insert employee values ('car

[2022-09-30 13:57] netoax commented on #658
I found this procedure in the list of unsupported ones here that's why I got confused: https://babelfishpg.org/docs/limitations/stored_procedure_limitations/#unsupported-stored-procedures

Is there any mention of the case sensitivity there?

Thanks for the answer, I will change the name to lowercase and test it again.

[2022-09-30 14:01] robverschoor commented on #658
I see.... that is not correct. I'll get it corrected.
The list of supported/unsupported features applies to what is (not) implemented according to the planning in the Babelfish project.  The uppercase/lowercase issue here is more like a bug, and bugs are not documented here.

[2022-10-04 17:44] mssqlserver opened #666 "[Bug]: NULLs in DATE(TIME)-Fields as default-values not working"
### What happened?

Lets assume you have a table called TESTTABLE with 2 columns:
TEST VARCHAR(255)
TESTDATE DATETIME DEFAULT NULL

Now I insert new rows without specifying a value for TESTDATE:
INSERT INTO TESTTABLE (TEST) VALUES ('HELLO!')

MSSQL would return a result if I do this select:
SELECT * from TESTTABLE WHERE TESTDATE IS NULL

BABELFISH does not return a result for the statement above -

[2022-10-04 19:22] robverschoor commented on #666
This is a known issue; the fix is expected in the next release of Babelfish (v.2.2.0). Note that this fix applies to new inserts only, it will not affect existing NULL values in such columns.

[2022-10-06 09:48] mssqlserver opened #676 "[Bug]: sys.triggers not available"
### What happened?

Hi!

I'm using BF 2.1.0. trying to call "select * from sys.triggers" getting the error relation "sys.triggers" does not exist
Is this feature not yet available? https://github.com/babelfish-for-postgresql/babelfish_extensions/pull/350

If it is not yet implemented can I determine the triggers for babelfish-tables using PSQL?

Thank you!

BR,
Robert

### Version

BABEL_1_X_DEV (

[2022-10-09 19:09] suprio-amzn commented on #609
Informatica is likely using the DataDirect ODBC driver:

https://docs.informatica.com/data-integration/powercenter/10-2/installation-and-configuration-guide/connecting-to-databases-from-unix/connecting-to-an-odbc-data-source.html

---
We have recently found some issues with this driver in another context. Could you do the following test for us?

Using a **Windows** client:

1. Install DataDirect O

[2022-10-09 19:12] suprio-amzn commented on #428
Hi @SwapnaSurya, yes these functions are on our roadmap.

[2022-10-09 19:12] #428 closed, assigned to nobody

[2022-10-10 15:10] robverschoor commented on #676
sys.triggers will be supported in v.2.2.0

[2022-10-10 17:46] suprio-amzn commented on #355
Please reopen if you can reproduce the issue with the latest release as mentioned above.

[2022-10-10 17:46] #355 closed, assigned to nobody

[2022-10-11 08:56] ChetankumarMudholkar-V37222 commented on #609
Yes , we are able to connect using SQL Server Management studio.

Thanks
Chetan Mudholkar
Digital Service Efficiency
Aflac Worldwide Headquarters
Mobile: +1 559 243 6705
***@***.******@***.***> | aflac.com

From: suprio-amzn ***@***.***>
Sent: Sunday, September 18, 2022 2:49 PM
To: babelfish-for-postgresql/babelfish_extensions ***@***.***>
Cc: Chetankumar Mudholkar - Contractor ***@***.***>; Menti

[2022-10-12 06:05] forestkeeper commented on #535
Could you add the jdbc version you have refered in the issue ? thanks

[2022-10-12 20:11] mredeker commented on #535
Microsoft JDBC Driver 10.2.1
But also earlier version did not work.

[2022-10-12 22:40] forestkeeper commented on #535
take a look at the server end and the jdbc debug, the sql running in those two places are actually different :
when running :
[code]
the sql actually executed is :
[code]

and for the query run explicitly , the sql actually executed is :
[code]

also tried this sql :
[code]
it also works

So the problem must happen in the parameter P0,P1,P2,P3

[2022-10-13 08:50] mredeker commented on #535
I doubt JDBC driver is mixing up P0,P1,P2,P3, otherwise JDBC driver would be having a major issue.
Maybe how babelfish translates parameters? Since call works without parameters it must be the parameters.
I dropped babelfish approach and use native postgres now.

[2022-10-17 07:15] rsubr commented on #36
Updated the docker image to babelfish v2.1.1 based on pg v14.3.

[code]

I will keep supporting this project by building new releases, but I would love to see official docker images. Pls let me know if you need me to submit a PR against the [Babelfish Repo](https://github.com/babelfish-for-postgresql/postgresql_modified_for_babelfish) or make a separate GitHub repo exclusively for docker builds.

[2022-10-17 09:05] markusadelsberger opened #702 "[Bug]: Question template seems to be broken"
### What happened?

I wanted to ask a question about an issue of mine, but the question template does not show up in the selection list here -> https://github.com/babelfish-for-postgresql/babelfish_extensions/issues/new/choose

There seems to be an issue with the file question.yaml, but I don't know enough about Github templates to propose a fix tbh.
https://github.com/babelfish-for-postgresql/bab

[2022-10-17 09:14] markusadelsberger opened #703 "[Question]: Does Babelfish support a higher version than SQL Server 2014?"
Hi,

**What's your question?**
we're currently migrating an application of ours to AWS, using an Aurora Database with Babelfish with Postgres, our Application is a Spring Boot Application which connects via JDBC.

Our current problem is that Babelfish always reports that it is running SQL version 2014, but one of our libraries (Flyway) requires a higher version. We know we can overwrite the output

[2022-10-17 14:49] robverschoor commented on #703
There is currently no way to let Babelfish return a different SQL Server version, but we have noted the requirement for making this configurable.

[2022-10-17 17:08] max-webster commented on #702
Looks from https://github.com/babelfish-for-postgresql/babelfish_extensions/commit/3648f605d08c713a217331a2e458d0f87e6bc6db like these lines from `question.yaml` got duplicated in `enhancement.yaml`, causing a duplicate error on the name field.

[code]

[2022-10-17 18:44] KevinDJones opened #704 "[Question]: operator does not exist: sys.uniqueidentifier = unknown"
### What happened?

I'm using babelfish with AWS Postgres Aurora and everything is working well. I would, however, like to query the babelfish data inside of Postgres. I'm able to do that just fine for most data types, but not custom babelfish ones like uniqueidentifier.

`Select * from table where id = 4` works. `Select * from table where id = '327A3F50-1826-4CFF-96C1-00055ACEB534'` gives the err

[2022-10-18 06:22] markusadelsberger commented on #703
Hi Rob,
thanks for the info, consider the question answered, I'll close it.
We'll have to go with a native SQL server then.
KR,
Markus

[2022-10-18 06:22] #703 closed, assigned to nobody

[2022-10-25 05:16] KevinDJones opened #727 "[Bug]: scope_identity Taking Minutes to Return"
### What happened?

I have a good sized table (~45 millions records) that I am trying to migrate from SQL Server. It has a `bigint` identity column as the PK. I've loaded the table using bcp.

When inserting records, the query that runs is
[code]

This takes about 3 minutes. If I do the equivalent query in Postgres:
[code]
It returns immediately.

Here is the returned plan:
[code]

I have some oth

[2022-10-25 10:26] robverschoor commented on #727
This is a known issue. You can try the following, pending improvements in future Babelfish releases:

1. In PG, mark function sys.scope_identity() as STABLE (this will be the default in v.2.2.0)
2. If (1) does not do the trick, create an index `CREATE INDEX your_index_name ON table ((your_identity_column::numeric));` (and run ANALYZE)

[2022-10-25 16:33] kevin-jones-cbs commented on #727
Thanks @rcv-aws for the response. I can't do number 1 since I'm in AWS and I `must be owner of function scope_identify`. I created the index and ran ANALYZE but still no luck, same 3 minute response time.

Do you know what causes the issue? Wondering if there's a workaround I can try. Or is it just large tables? I created the records with identity insert on and started the ID in the millions. I do

[2022-10-25 16:37] robverschoor commented on #727
We have seen an index on the identity column not being used when queried against SCOPE_IDENTITY() due to that function not being declared as STABLE, thus leading to a table scan.

[2022-10-28 00:50] 2jungkook commented on #704
@KevinDJones
1. what is the data type of `id` column?
2. Which Babelfish version you are using? (You can check this by `select cast(serverproperty('BabelfishVersion') as varchar(10)) babelfish_version;`)

[2022-10-28 08:13] kuntalghosh commented on #376
I couldn't find where exactly you're building the Babelfish extension in this docker file. Please note that running make inside contrib folder will not compile the babelfish extensions. You've to explicitly compile each of those extension.

You've added the same code in https://github.com/Toyonut/babelfish-testbed/blob/main/babelfish-2point1.dockerfile#L101.
[code]
You've provided PG_CONFIG for in

[2022-10-28 10:07] robverschoor commented on #727
The problem is that PG performs a table scan because the search argument (SCOPE_IDENTITY()) is not a STABLE function and therefore cannot be used for an index lookup. A workaround would be to first select the SCOPE_IDENTITY value in a bigint variable, and use that variable for the search argument

[2022-10-28 16:30] KevinDJones commented on #704
@2jungkook The `id` column is of type `sys.uniqueidentifier`. Babelfish version is `2.1.2`.

[2022-10-29 01:14] 2jungkook commented on #704
I think you are trying to use `sys.uniqueidentifier` data type in PG connection instead of TDS connection, right?

[2022-10-29 01:40] KevinDJones commented on #704
@2jungkook That's correct. Everything works fine from a TDS connection. I understand that writing queries with a PG connection against babelfish-created tables isn't necessarily the primary use case here, I'm just trying to see if there's any way to do it.

I have found that by converting both sides of the statements to a normal pg type it will work:
[code]

But that's not ideal. I have a couple u

[2022-11-06 21:57] 2jungkook commented on #704
Most operators are under `sys` namespace, e.g., https://github.com/babelfish-for-postgresql/babelfish_extensions/blob/BABEL_2_X_DEV/contrib/babelfishpg_common/sql/uniqueidentifier.sql#L82. Hence, adding `sys` to your `search_path` would work, e.g.,
[code]

[2022-11-06 21:57] #704 closed, assigned to 2jungkook

[2022-11-07 18:02] 3manuek commented on #36
Hi @rsubr , there is an ongoing patch for the Dockerfiles [here](https://github.com/babelfish-for-postgresql/babelfish-for-postgresql/pull/5). Regarding the images, there are compliances that must be met before their publishing, but I hope it'll be sort out.

[2022-11-10 02:59] #535 closed, assigned to forestkeeper, timchang514

[2022-11-14 15:53] martwana opened #838 "[Bug]: sys.smalldatetime(0) without time zone is invalid syntax"
### What happened?

If this bug report is in the wrong repository, please let me know where it should be. I'm also using Babelfish 2.1.1 locally.

I'm working to provide a working local environment in addition to using Babelfish/Postgres on AWS.

I'm trying to validate the use of `pg_dump` and `pg_restore` and running into issues with the SQL generated by `pg_dump`

An example query is below, the

[2022-11-15 19:36] suprio-amzn commented on #838
@martwana : We have not documented the use of `pg_dump` and `pg_restore` for Babelfish. Please let us know what you are trying to validate.

[2022-11-15 20:02] jordanclark opened #840 "[Bug]: DELETE TOP fails when using schema prefix"
### What happened?

We are experiencing this bug in aws aurora with babelfish in multi-db mode, I'm not entirely sure how that config reflects on this source code. The problem appeared when trying to run DELETE TOP sql, there is a work around, but here is the reproducible code:

`
CREATE TABLE dbo.foobar (
    [logID]      UNIQUEIDENTIFIER DEFAULT (newid()) NOT NULL
)

DELETE FROM foobar -- works

[2022-11-16 10:07] martwana commented on #838
@suprio-amzn I'm trying to validate that it's possible to take a backup from a running babelfish database and restore it correctly to another one. Standard backup/restore process, which so far does not work.

I'm using `pg_dump` and `pg_restore` as the babelfish documentation specifically says we should use native postgres backup/restore tools.

It raises major concerns that we're unable to restor

[2022-11-16 19:20] robverschoor commented on #840
Thanks for reporting this. I think this is a variant of an already known issue. I'll make sure to take this case along.

[2022-11-16 19:22] jordanclark commented on #840
@rcv-aws you're very welcome, is there a link to the other issue/branch/fix so I could track it's progress?

[2022-11-16 19:44] robverschoor commented on #840
Incidentally, it also applies to `UPDATE TOP(n) dbo.foo SET bar=0`

[2022-11-16 19:44] robverschoor commented on #840
We currently don't have a public system for tracking development items

[2022-11-17 07:33] gaoxy2006git opened #853 "[Bug]: MSOLEDBSQL.1 Write is normal, read fails, and TCP communication message is recorded"
### What happened?

read fails
14:48:30 TRN -->> 127.0.0.1:49722 <188> ......................................&.....p......p.s.e.l.e.c.t. .*. .f.r.o.m. .s.t.u.d.e.n.t. .w.h.e.r.e. .S.T.U.
.N.U.M.=.'.6.'. .a.n.d. .S.T.U._.N.A.M.E.=.'.6.'...&........&........&..
[03 01 00 BC 00 00 01 00 16 00 00 00 12 00 00 00 02 00 00 00 00 00 00 00 00 00 01 00 00 00 FF FF 02 00 00 00 00 01 26 04 00 00 00 E7 70 00 0

[2022-11-17 07:34] gaoxy2006git commented on #853
Open("Provider=MSOLEDBSQL.1;Data Source=127.0.0.1;Initial Catalog=master;User Id=babelfish_user;Password=12345678;","","",adModeUnknown);

[2022-11-17 07:36] gaoxy2006git commented on #853
select * from student where STU_NUM='6' and STU_NAME='6';

[2022-11-17 07:41] gaoxy2006git commented on #853
Provider=MSOLEDBSQL.1; and Provider=SQLOLEDB.1 Login is normal, write is normal, read failed.

Driver={SQL Server};Login failed, but it is normal in MSSQL

ADO operation under VC 6.0

[2022-11-17 07:43] gaoxy2006git commented on #853
isqlw. exe login prompt: master_ Dbo.syscharsets does not exist！

[2022-11-17 07:47] gaoxy2006git commented on #853
Babelfish for PostgreSQL with SQL Server Compatibility - 12.0.2000.8
PostgreSQL 13.7 on x86_64-pc-linux-gnu

[2022-11-17 07:49] gaoxy2006git commented on #853
VC program running environment is wine 7.0。

[2022-11-17 07:51] gaoxy2006git commented on #853
How to create master.dbo.syscharsets?

[2022-11-17 07:53] robverschoor commented on #853
Which Babelfish version is this? Please provide the output of `SELECT CAST(SERVERPROPERTY('BabelfishVersion') AS VARCHAR)`

[2022-11-17 07:55] gaoxy2006git commented on #853
serverproperty
------------------------------
1.3.2

[2022-11-17 07:56] robverschoor commented on #853
In Babelfish, you can run this:
`create view dbo.syscharsets as select * from sys.syscharsets`

[2022-11-17 07:59] gaoxy2006git commented on #853
SQL Server Query Analyzer can log in normally.

[2022-11-17 08:01] gaoxy2006git commented on #853
but run "SELECT @@VERSION"
out=
version
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

[Microsoft][ODBC SQL Server Driver]收到来自 SQL Server 的未知令牌

[2022-11-17 08:01] gaoxy2006git commented on #853
VC programming ADO accesses MSSQL and runs relevant TCP messages of "select * from student where STU_NUM='0 'and STU_NAME='0'"
22:55:12 TRN -->> 192.168.10.110:57192 <166> ................&.....p......p.s.e.l.e.c.t. .*. .f.r.o.m. .s.t.u.d.e.n.t. .w.h.e.r.e. .S.T.U._.N.U.M.=.'.0.'.
.a.n.d. .S.T.U._.N.A.M.E.=.'.0.'...&........&........&..
[03 01 00 A6 00 00 01 00 FF FF 02 00 00 00 00 01 26 04 00 00

[2022-11-17 08:11] gaoxy2006git commented on #853
How do I configure or modify Babelfish to be compatible with MSSQL?

[2022-11-17 08:20] gaoxy2006git commented on #853
select * from dbo.sysdatabases;and select * from master.dbo.sysdatabases; Run OK.

[2022-11-17 08:27] robverschoor commented on #853
Babelfish is doing exactly that. But as you can see we don't have exact 100% compatibility. For the sysXXX catalogs that are not existing in dbo but only in sys, you can create a view as I showed in my earlier response. Other than that, we are continuously working to extend the coverage of Babelfish. You may want to go to the recently-released v.2.2.0 (on PG 14.5) which supports significantly more

[2022-11-17 08:32] gaoxy2006git commented on #853
I have installed 1.3.2.How do I upgrade to 2.2.0?

---Original---
From: "Rob ***@***.***&gt;
Date: Thu, Nov 17, 2022 16:28 PM
To: ***@***.***&gt;;
Cc: ***@***.******@***.***&gt;;
Subject: Re: [babelfish-for-postgresql/babelfish_extensions] [Bug]:MSOLEDBSQL.1 Write is normal, read fails, and TCP communication message isrecorded (Issue #853)

How do I configure or modify Babelfish to be compatible w

[2022-11-17 08:55] kuntalghosh commented on #853
The log mentioned above includes the request packet. As per the log, the driver is trying to open a DYNAMIC and OPTIMISTIC cursor for executing the select query. As of now, we don't support OPTIMISTIC, SCROLL-LOCKS and UPDATABLE cursors ([link](https://github.com/babelfish-for-postgresql/babelfish_extensions/blob/48cbd7758cd63ade67a6c2c2d3ed3d38ea073051/contrib/babelfishpg_tsql/src/cursor.c#L1485)

[2022-11-17 09:22] gaoxy2006git commented on #853
To modify the code of cursor. c and compile the generated file, which file is required?

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "babelfish-for-postgresql/babelfish_extensions"                                                                                    ***

[2022-11-17 09:41] gaoxy2006git commented on #853
Update&nbsp;babelfishpg_tsql.so&nbsp;file?

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "babelfish-for-postgresql/babelfish_extensions"                                                                                    ***@***.***&gt;;
发送时间:&nbsp;2022年11月17日(星期四) 下午4

[2022-11-17 09:43] kuntalghosh commented on #853
We need the application code that's causing this failure. We would like to reproduce the scenario using the same driver at our end.

[2022-11-21 12:53] liyuejin opened #878 "[Bug]: BABEL_2.X_DEV babelfish_extensions/contrib/babelfishpg_money to be unable to build "
### What happened?

When I execute sudo make on ubuntu22.04, the compilation reports an error. I don't know how to handle it. Please check whether the program is buggy.

### Version

BABEL_1_X_DEV (Default)

### Extension

babelfishpg_money

### Which flavor of Linux are you using when you see the bug?

Ubuntu (Default)

### Relevant log output

[code]

### Code of Conduct

- [X] I agree to follow

[2022-11-21 12:55] liyuejin commented on #878
Version
IS BABEL_2_X_DEV

[2022-11-24 12:03] sksql commented on #838
With regards to the create table in the question, this is not valid T-SQL. For this to be valid T-SQL:
- Replace "CREATE TABLE IF NOT EXISTS" with "CREATE TABLE:
- Replace "GENERATED ALWAYS AS IDENTITY ( INCREMENT 1 START 0 MINVALUE 0 MAXVALUE 2147483647 CACHE 1 )" with "IDENTITY ( 0, 1 )"
- Replace "smalldatetime(0) without time zone" with "smalldatetime".

With the above changes, MSSQL still obj

[2022-11-24 14:26] sksql commented on #838
With regards to the SQL, it does is not runnable on PostgreSQL. As stated in the question, the clause "without time zone" is invalid. A workaround would be to edit the CREATE TABLE statement and manually delete this clause. Then it runs merrily through my psql/PG (14.4)

[2022-11-25 16:10] Belorus opened #891 "[Bug]: If used with sqlcmd 18 encryption error is returned. 17 is fine"
### What happened?

If i run simple SELECT 1 under sqlcmd 18 i see following:

Sqlcmd: Error: Microsoft ODBC Driver 18 for SQL Server : Encryption not supported on SQL Server..
Sqlcmd: Error: Microsoft ODBC Driver 18 for SQL Server : Client unable to establish connection.

I use following sqlcmd on alpine:
https://download.microsoft.com/download/8/6/8/868e5fc4-7bfe-494d-8f9d-115cbcdb52ae/msodbcsql

[2022-11-28 10:34] yjhatfdu opened #893 "[Bug]: unexpected parse result for 'with ( nolock )' and multibyte utf8 string"
### What happened?

when 'with (nolock) ' comes with multibyte utf8 string, the parser generate unexpected result.
Example:
[code]
Will generate incomplete table name or "wstring_convert::from_bytes" error.
This is because Antlr4 Token index returns an UTF32 char index in function
https://github.com/babelfish-for-postgresql/babelfish_extensions/blob/95c1a016f1ca835bb57cc38f89238e7e501ea614/contrib

[2022-11-28 10:36] yjhatfdu commented on #893
My fork works for this problem
https://github.com/yjhatfdu/babelfish_extensions/tree/BABEL_2_3_STABLE